<a href="https://colab.research.google.com/github/GIT-REPO-JAGAN/PYTHON-GOOGLE-COLOB/blob/main/C_21Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Pandas
Designed to work for structural data or tabular data https://pandas.pydata.org/

* Numpy is Homogenies
* Panda is Hetro genies

In [ ]:
import pandas as pd

#### Series - 1-D array-like object containing sequence of values

In [ ]:
s1 = pd.Series([1,2,3,4,5]) # It show the index

In [ ]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
type(s1)

pandas.core.series.Series

In [ ]:
v1 = s1.values

In [ ]:
v1

array([1, 2, 3, 4, 5])

In [ ]:
type(v1)

numpy.ndarray

In [ ]:
i1 = s1.index

In [ ]:
i1

RangeIndex(start=0, stop=5, step=1)

In [ ]:
type(i1)

pandas.core.indexes.range.RangeIndex

In [ ]:
print(s1.name) # There is a possible we can assign a name

None

In [ ]:
help(pd.core)

Help on package pandas.core in pandas:

NAME
    pandas.core

PACKAGE CONTENTS
    _numba (package)
    accessor
    algorithms
    api
    apply
    array_algos (package)
    arraylike
    arrays (package)
    base
    common
    computation (package)
    config_init
    construction
    describe
    dtypes (package)
    flags
    frame
    generic
    groupby (package)
    index
    indexers (package)
    indexes (package)
    indexing
    interchange (package)
    internals (package)
    missing
    nanops
    ops (package)
    resample
    reshape (package)
    roperator
    sample
    series
    shared_docs
    sorting
    sparse (package)
    strings (package)
    tools (package)
    util (package)
    window (package)

FILE
    /usr/local/lib/python3.10/dist-packages/pandas/core/__init__.py

In [ ]:
help(pd.core.indexes)

Help on package pandas.core.indexes in pandas.core:

NAME
    pandas.core.indexes

PACKAGE CONTENTS
    accessors
    api
    base
    category
    datetimelike
    datetimes
    extension
    frozen
    interval
    multi
    numeric
    period
    range
    timedeltas

FILE
    c:\users\hp\anaconda3\lib\site-packages\pandas\core\indexes\__init__.py

In [ ]:
help(pd.core.indexes.range)

Help on module pandas.core.indexes.range in pandas.core.indexes:

NAME
    pandas.core.indexes.range

CLASSES
    pandas.core.indexes.numeric.NumericIndex(pandas.core.indexes.base.Index)
        RangeIndex

    class RangeIndex(pandas.core.indexes.numeric.NumericIndex)
     |  RangeIndex(start=None, stop=None, step=None, dtype: 'Dtype | None' = None, copy: 'bool' = False, name: 'Hashable' = None) -> 'RangeIndex'
     |
     |  Immutable Index implementing a monotonic integer range.
     |
     |  RangeIndex is a memory-saving special case of Int64Index limited to
     |  representing monotonic ranges. Using RangeIndex may in some instances
     |  improve computing speed.
     |
     |  This is the default index type used
     |  by DataFrame and Series when no explicit index is provided by the user.
     |
     |  Parameters
     |  ----------
     |  start : int (default: 0), range, or other RangeIndex instance
     |      If int and "stop" is not given, interpreted as "stop" instead.
     |  stop : int (default: 0)
     |  step : int (default: 1)
     |  dtype : np.int64
     |      Unused, accepted for homogeneity with other index types.
     |  copy : bool, default False
     |      Unused, accepted for homogeneity with other index types.
     |  name : object, optional
     |      Name to be stored in the index.
     |
     |  Attributes
     |  ----------
     |  start
     |  stop
     |  step
     |
     |  Methods
     |  -------
     |  from_range
     |
     |  See Also
     |  --------
     |  Index : The base pandas Index type.
     |  Int64Index : Index of int64 data.
     |
     |  Method resolution order:
     |      RangeIndex
     |      pandas.core.indexes.numeric.NumericIndex
     |      pandas.core.indexes.base.Index
     |      pandas.core.base.IndexOpsMixin
     |      pandas.core.arraylike.OpsMixin
     |      pandas.core.base.PandasObject
     |      pandas.core.accessor.DirNamesMixin
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __contains__(self, key: 'Any') -> 'bool'
     |      Check if key is a float and has a decimal. If it has, return False.
     |
     |  __floordiv__(self, other)
     |
     |  __getitem__(self, key)
     |      Conserve RangeIndex type for scalar and slice keys.
     |
     |  __iter__(self)
     |      Return an iterator of the values.
     |
     |      These are each a scalar type, which is a Python scalar
     |      (for str, int, float) or a pandas scalar
     |      (for Timestamp/Timedelta/Interval/Period)
     |
     |      Returns
     |      -------
     |      iterator
     |
     |  __len__(self) -> 'int'
     |      return the length of the RangeIndex
     |
     |  __reduce__(self)
     |      Helper for pickle.
     |
     |  all(self, *args, **kwargs) -> 'bool'
     |      Return whether all elements are Truthy.
     |
     |      Parameters
     |      ----------
     |      *args
     |          Required for compatibility with numpy.
     |      **kwargs
     |          Required for compatibility with numpy.
     |
     |      Returns
     |      -------
     |      all : bool or array-like (if axis is specified)
     |          A single element array-like may be converted to bool.
     |
     |      See Also
     |      --------
     |      Index.any : Return whether any element in an Index is True.
     |      Series.any : Return whether any element in a Series is True.
     |      Series.all : Return whether all elements in a Series are True.
     |
     |      Notes
     |      -----
     |      Not a Number (NaN), positive infinity and negative infinity
     |      evaluate to True because these are not equal to zero.
     |
     |      Examples
     |      --------
     |      **all**
     |
     |      True, because nonzero integers are considered True.
     |
     |      >>> pd.Index([1, 2, 3]).all()
     |      True
     |
     |      False, because ``0`` is considered False.
     |
     |      >>> pd.Index([0, 1, 2]).all()
     |      False
     |
     |      **any**
     |
     |      True, because ``1`` is considered True.
     |
     |      >>> pd.Index([0, 0, 1]).any()
     |      True
     |
     |      False, because ``0`` is considered False.
     |
     |      >>> pd.Index([0, 0, 0]).any()
     |      False
     |
     |  any(self, *args, **kwargs) -> 'bool'
     |      Return whether any element is Truthy.
     |
     |      Parameters
     |      ----------
     |      *args
     |          Required for compatibility with numpy.
     |      **kwargs
     |          Required for compatibility with numpy.
     |
     |      Returns
     |      -------
     |      any : bool or array-like (if axis is specified)
     |          A single element array-like may be converted to bool.
     |
     |      See Also
     |      --------
     |      Index.all : Return whether all elements are True.
     |      Series.all : Return whether all elements are True.
     |
     |      Notes
     |      -----
     |      Not a Number (NaN), positive infinity and negative infinity
     |      evaluate to True because these are not equal to zero.
     |
     |      Examples
     |      --------
     |      >>> index = pd.Index([0, 1, 2])
     |      >>> index.any()
     |      True
     |
     |      >>> index = pd.Index([0, 0, 0])
     |      >>> index.any()
     |      False
     |
     |  argsort(self, *args, **kwargs) -> 'np.ndarray'
     |      Returns the indices that would sort the index and its
     |      underlying data.
     |
     |      Returns
     |      -------
     |      np.ndarray[np.intp]
     |
     |      See Also
     |      --------
     |      numpy.ndarray.argsort
     |
     |  copy(self, name: 'Hashable' = None, deep: 'bool' = False, dtype: 'Dtype | None' = None, names=None)
     |      Make a copy of this object.
     |
     |      Name and dtype sets those attributes on the new object.
     |
     |      Parameters
     |      ----------
     |      name : Label, optional
     |          Set name for new object.
     |      deep : bool, default False
     |      dtype : numpy dtype or pandas type, optional
     |          Set dtype for new object.
     |
     |          .. deprecated:: 1.2.0
     |              use ``astype`` method instead.
     |      names : list-like, optional
     |          Kept for compatibility with MultiIndex. Should not be used.
     |
     |      Returns
     |      -------
     |      Index
     |          Index refer to new object which is a copy of this object.
     |
     |      Notes
     |      -----
     |      In most cases, there should be no functional difference from using
     |      ``deep``, but if ``deep`` is passed it will attempt to deepcopy.
     |
     |  delete(self, loc) -> 'Int64Index'
     |      Make new Index with passed location(-s) deleted.
     |
     |      Parameters
     |      ----------
     |      loc : int or list of int
     |          Location of item(-s) which will be deleted.
     |          Use a list of locations to delete more than one value at the same time.
     |
     |      Returns
     |      -------
     |      Index
     |          Will be same type as self, except for RangeIndex.
     |
     |      See Also
     |      --------
     |      numpy.delete : Delete any rows and column from NumPy array (ndarray).
     |
     |      Examples
     |      --------
     |      >>> idx = pd.Index(['a', 'b', 'c'])
     |      >>> idx.delete(1)
     |      Index(['a', 'c'], dtype='object')
     |
     |      >>> idx = pd.Index(['a', 'b', 'c'])
     |      >>> idx.delete([0, 2])
     |      Index(['b'], dtype='object')
     |
     |  equals(self, other: 'object') -> 'bool'
     |      Determines if two Index objects contain the same elements.
     |
     |  factorize(self, sort: 'bool' = False, na_sentinel: 'int | None' = -1) -> 'tuple[np.ndarray, RangeIndex]'
     |      Encode the object as an enumerated type or categorical variable.
     |
     |      This method is useful for obtaining a numeric representation of an
     |      array when all that matters is identifying distinct values. `factorize`
     |      is available as both a top-level function :func:`pandas.factorize`,
     |      and as a method :meth:`Series.factorize` and :meth:`Index.factorize`.
     |
     |      Parameters
     |      ----------
     |      sort : bool, default False
     |          Sort `uniques` and shuffle `codes` to maintain the
     |          relationship.
     |
     |      na_sentinel : int or None, default -1
     |          Value to mark "not found". If None, will not drop the NaN
     |          from the uniques of the values.
     |
     |          .. versionchanged:: 1.1.2
     |
     |      Returns
     |      -------
     |      codes : ndarray
     |          An integer ndarray that's an indexer into `uniques`.
     |          ``uniques.take(codes)`` will have the same values as `values`.
     |      uniques : ndarray, Index, or Categorical
     |          The unique valid values. When `values` is Categorical, `uniques`
     |          is a Categorical. When `values` is some other pandas object, an
     |          `Index` is returned. Otherwise, a 1-D ndarray is returned.
     |
     |          .. note ::
     |
     |             Even if there's a missing value in `values`, `uniques` will
     |             *not* contain an entry for it.
     |
     |      See Also
     |      --------
     |      cut : Discretize continuous-valued array.
     |      unique : Find the unique value in an array.
     |
     |      Examples
     |      --------
     |      These examples all show factorize as a top-level method like
     |      ``pd.factorize(values)``. The results are identical for methods like
     |      :meth:`Series.factorize`.
     |
     |      >>> codes, uniques = pd.factorize(['b', 'b', 'a', 'c', 'b'])
     |      >>> codes
     |      array([0, 0, 1, 2, 0]...)
     |      >>> uniques
     |      array(['b', 'a', 'c'], dtype=object)
     |
     |      With ``sort=True``, the `uniques` will be sorted, and `codes` will be
     |      shuffled so that the relationship is the maintained.
     |
     |      >>> codes, uniques = pd.factorize(['b', 'b', 'a', 'c', 'b'], sort=True)
     |      >>> codes
     |      array([1, 1, 0, 2, 1]...)
     |      >>> uniques
     |      array(['a', 'b', 'c'], dtype=object)
     |
     |      Missing values are indicated in `codes` with `na_sentinel`
     |      (``-1`` by default). Note that missing values are never
     |      included in `uniques`.
     |
     |      >>> codes, uniques = pd.factorize(['b', None, 'a', 'c', 'b'])
     |      >>> codes
     |      array([ 0, -1,  1,  2,  0]...)
     |      >>> uniques
     |      array(['b', 'a', 'c'], dtype=object)
     |
     |      Thus far, we've only factorized lists (which are internally coerced to
     |      NumPy arrays). When factorizing pandas objects, the type of `uniques`
     |      will differ. For Categoricals, a `Categorical` is returned.
     |
     |      >>> cat = pd.Categorical(['a', 'a', 'c'], categories=['a', 'b', 'c'])
     |      >>> codes, uniques = pd.factorize(cat)
     |      >>> codes
     |      array([0, 0, 1]...)
     |      >>> uniques
     |      ['a', 'c']
     |      Categories (3, object): ['a', 'b', 'c']
     |
     |      Notice that ``'b'`` is in ``uniques.categories``, despite not being
     |      present in ``cat.values``.
     |
     |      For all other pandas objects, an Index of the appropriate type is
     |      returned.
     |
     |      >>> cat = pd.Series(['a', 'a', 'c'])
     |      >>> codes, uniques = pd.factorize(cat)
     |      >>> codes
     |      array([0, 0, 1]...)
     |      >>> uniques
     |      Index(['a', 'c'], dtype='object')
     |
     |      If NaN is in the values, and we want to include NaN in the uniques of the
     |      values, it can be achieved by setting ``na_sentinel=None``.
     |
     |      >>> values = np.array([1, 2, 1, np.nan])
     |      >>> codes, uniques = pd.factorize(values)  # default: na_sentinel=-1
     |      >>> codes
     |      array([ 0,  1,  0, -1])
     |      >>> uniques
     |      array([1., 2.])
     |
     |      >>> codes, uniques = pd.factorize(values, na_sentinel=None)
     |      >>> codes
     |      array([0, 1, 0, 2])
     |      >>> uniques
     |      array([ 1.,  2., nan])
     |
     |  get_loc(self, key, method=None, tolerance=None)
     |      Get integer location, slice or boolean mask for requested label.
     |
     |      Parameters
     |      ----------
     |      key : label
     |      method : {None, 'pad'/'ffill', 'backfill'/'bfill', 'nearest'}, optional
     |          * default: exact matches only.
     |          * pad / ffill: find the PREVIOUS index value if no exact match.
     |          * backfill / bfill: use NEXT index value if no exact match
     |          * nearest: use the NEAREST index value if no exact match. Tied
     |            distances are broken by preferring the larger index value.
     |      tolerance : int or float, optional
     |          Maximum distance from index value for inexact matches. The value of
     |          the index at the matching location must satisfy the equation
     |          ``abs(index[loc] - key) <= tolerance``.
     |
     |      Returns
     |      -------
     |      loc : int if unique index, slice if monotonic index, else mask
     |
     |      Examples
     |      --------
     |      >>> unique_index = pd.Index(list('abc'))
     |      >>> unique_index.get_loc('b')
     |      1
     |
     |      >>> monotonic_index = pd.Index(list('abbc'))
     |      >>> monotonic_index.get_loc('b')
     |      slice(1, 3, None)
     |
     |      >>> non_monotonic_index = pd.Index(list('abcb'))
     |      >>> non_monotonic_index.get_loc('b')
     |      array([False,  True, False,  True])
     |
     |  max(self, axis=None, skipna: 'bool' = True, *args, **kwargs) -> 'int'
     |      The maximum value of the RangeIndex
     |
     |  memory_usage(self, deep: 'bool' = False) -> 'int'
     |      Memory usage of my values
     |
     |      Parameters
     |      ----------
     |      deep : bool
     |          Introspect the data deeply, interrogate
     |          `object` dtypes for system-level memory consumption
     |
     |      Returns
     |      -------
     |      bytes used
     |
     |      Notes
     |      -----
     |      Memory usage does not include memory consumed by elements that
     |      are not components of the array if deep=False
     |
     |      See Also
     |      --------
     |      numpy.ndarray.nbytes
     |
     |  min(self, axis=None, skipna: 'bool' = True, *args, **kwargs) -> 'int'
     |      The minimum value of the RangeIndex
     |
     |  repeat(self, repeats, axis=None) -> 'Int64Index'
     |      Repeat elements of a Index.
     |
     |      Returns a new Index where each element of the current Index
     |      is repeated consecutively a given number of times.
     |
     |      Parameters
     |      ----------
     |      repeats : int or array of ints
     |          The number of repetitions for each element. This should be a
     |          non-negative integer. Repeating 0 times will return an empty
     |          Index.
     |      axis : None
     |          Must be ``None``. Has no effect but is accepted for compatibility
     |          with numpy.
     |
     |      Returns
     |      -------
     |      repeated_index : Index
     |          Newly created Index with repeated elements.
     |
     |      See Also
     |      --------
     |      Series.repeat : Equivalent function for Series.
     |      numpy.repeat : Similar method for :class:`numpy.ndarray`.
     |
     |      Examples
     |      --------
     |      >>> idx = pd.Index(['a', 'b', 'c'])
     |      >>> idx
     |      Index(['a', 'b', 'c'], dtype='object')
     |      >>> idx.repeat(2)
     |      Index(['a', 'a', 'b', 'b', 'c', 'c'], dtype='object')
     |      >>> idx.repeat([1, 2, 3])
     |      Index(['a', 'b', 'b', 'c', 'c', 'c'], dtype='object')
     |
     |  symmetric_difference(self, other, result_name: 'Hashable' = None, sort=None)
     |      Compute the symmetric difference of two Index objects.
     |
     |      Parameters
     |      ----------
     |      other : Index or array-like
     |      result_name : str
     |      sort : False or None, default None
     |          Whether to sort the resulting index. By default, the
     |          values are attempted to be sorted, but any TypeError from
     |          incomparable elements is caught by pandas.
     |
     |          * None : Attempt to sort the result, but catch any TypeErrors
     |            from comparing incomparable elements.
     |          * False : Do not sort the result.
     |
     |      Returns
     |      -------
     |      symmetric_difference : Index
     |
     |      Notes
     |      -----
     |      ``symmetric_difference`` contains elements that appear in either
     |      ``idx1`` or ``idx2`` but not both. Equivalent to the Index created by
     |      ``idx1.difference(idx2) | idx2.difference(idx1)`` with duplicates
     |      dropped.
     |
     |      Examples
     |      --------
     |      >>> idx1 = pd.Index([1, 2, 3, 4])
     |      >>> idx2 = pd.Index([2, 3, 4, 5])
     |      >>> idx1.symmetric_difference(idx2)
     |      Int64Index([1, 5], dtype='int64')
     |
     |  take(self, indices, axis: 'int' = 0, allow_fill: 'bool' = True, fill_value=None, **kwargs) -> 'Int64Index'
     |      Return a new Index of the values selected by the indices.
     |
     |      For internal compatibility with numpy arrays.
     |
     |      Parameters
     |      ----------
     |      indices : array-like
     |          Indices to be taken.
     |      axis : int, optional
     |          The axis over which to select values, always 0.
     |      allow_fill : bool, default True
     |      fill_value : scalar, default None
     |          If allow_fill=True and fill_value is not None, indices specified by
     |          -1 are regarded as NA. If Index doesn't hold NA, raise ValueError.
     |
     |      Returns
     |      -------
     |      Index
     |          An index formed of elements at the given indices. Will be the same
     |          type as self, except for RangeIndex.
     |
     |      See Also
     |      --------
     |      numpy.ndarray.take: Return an array formed from the
     |          elements of a at the given indices.
     |
     |  tolist(self) -> 'list[int]'
     |      Return a list of the values.
     |
     |      These are each a scalar type, which is a Python scalar
     |      (for str, int, float) or a pandas scalar
     |      (for Timestamp/Timedelta/Interval/Period)
     |
     |      Returns
     |      -------
     |      list
     |
     |      See Also
     |      --------
     |      numpy.ndarray.tolist : Return the array as an a.ndim-levels deep
     |          nested list of Python scalars.
     |
     |  ----------------------------------------------------------------------
     |  Class methods defined here:
     |
     |  from_range(data: 'range', name=None, dtype: 'Dtype | None' = None) -> 'RangeIndex' from builtins.type
     |      Create RangeIndex from a range object.
     |
     |      Returns
     |      -------
     |      RangeIndex
     |
     |  ----------------------------------------------------------------------
     |  Static methods defined here:
     |
     |  __new__(cls, start=None, stop=None, step=None, dtype: 'Dtype | None' = None, copy: 'bool' = False, name: 'Hashable' = None) -> 'RangeIndex'
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Readonly properties defined here:
     |
     |  dtype

In [ ]:
help(pd.core.indexes.range.RangeIndex)

Help on class RangeIndex in module pandas.core.indexes.range:

class RangeIndex(pandas.core.indexes.numeric.NumericIndex)
 |  RangeIndex(start=None, stop=None, step=None, dtype: 'Dtype | None' = None, copy: 'bool' = False, name: 'Hashable' = None) -> 'RangeIndex'
 |
 |  Immutable Index implementing a monotonic integer range.
 |
 |  RangeIndex is a memory-saving special case of Int64Index limited to
 |  representing monotonic ranges. Using RangeIndex may in some instances
 |  improve computing speed.
 |
 |  This is the default index type used
 |  by DataFrame and Series when no explicit index is provided by the user.
 |
 |  Parameters
 |  ----------
 |  start : int (default: 0), range, or other RangeIndex instance
 |      If int and "stop" is not given, interpreted as "stop" instead.
 |  stop : int (default: 0)
 |  step : int (default: 1)
 |  dtype : np.int64
 |      Unused, accepted for homogeneity with other index types.
 |  copy : bool, default False
 |      Unused, accepted for homogeneity with other index types.
 |  name : object, optional
 |      Name to be stored in the index.
 |
 |  Attributes
 |  ----------
 |  start
 |  stop
 |  step
 |
 |  Methods
 |  -------
 |  from_range
 |
 |  See Also
 |  --------
 |  Index : The base pandas Index type.
 |  Int64Index : Index of int64 data.
 |
 |  Method resolution order:
 |      RangeIndex
 |      pandas.core.indexes.numeric.NumericIndex
 |      pandas.core.indexes.base.Index
 |      pandas.core.base.IndexOpsMixin
 |      pandas.core.arraylike.OpsMixin
 |      pandas.core.base.PandasObject
 |      pandas.core.accessor.DirNamesMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __contains__(self, key: 'Any') -> 'bool'
 |      Check if key is a float and has a decimal. If it has, return False.
 |
 |  __floordiv__(self, other)
 |
 |  __getitem__(self, key)
 |      Conserve RangeIndex type for scalar and slice keys.
 |
 |  __iter__(self)
 |      Return an iterator of the values.
 |
 |      These are each a scalar type, which is a Python scalar
 |      (for str, int, float) or a pandas scalar
 |      (for Timestamp/Timedelta/Interval/Period)
 |
 |      Returns
 |      -------
 |      iterator
 |
 |  __len__(self) -> 'int'
 |      return the length of the RangeIndex
 |
 |  __reduce__(self)
 |      Helper for pickle.
 |
 |  all(self, *args, **kwargs) -> 'bool'
 |      Return whether all elements are Truthy.
 |
 |      Parameters
 |      ----------
 |      *args
 |          Required for compatibility with numpy.
 |      **kwargs
 |          Required for compatibility with numpy.
 |
 |      Returns
 |      -------
 |      all : bool or array-like (if axis is specified)
 |          A single element array-like may be converted to bool.
 |
 |      See Also
 |      --------
 |      Index.any : Return whether any element in an Index is True.
 |      Series.any : Return whether any element in a Series is True.
 |      Series.all : Return whether all elements in a Series are True.
 |
 |      Notes
 |      -----
 |      Not a Number (NaN), positive infinity and negative infinity
 |      evaluate to True because these are not equal to zero.
 |
 |      Examples
 |      --------
 |      **all**
 |
 |      True, because nonzero integers are considered True.
 |
 |      >>> pd.Index([1, 2, 3]).all()
 |      True
 |
 |      False, because ``0`` is considered False.
 |
 |      >>> pd.Index([0, 1, 2]).all()
 |      False
 |
 |      **any**
 |
 |      True, because ``1`` is considered True.
 |
 |      >>> pd.Index([0, 0, 1]).any()
 |      True
 |
 |      False, because ``0`` is considered False.
 |
 |      >>> pd.Index([0, 0, 0]).any()
 |      False
 |
 |  any(self, *args, **kwargs) -> 'bool'
 |      Return whether any element is Truthy.
 |
 |      Parameters
 |      ----------
 |      *args
 |          Required for compatibility with numpy.
 |      **kwargs
 |          Required for compatibility with numpy.
 |
 |      Returns
 |      -------
 |      any : bool or array-like (if axis is specified)
 |          A single element array-like may be converted to bool.
 |
 |      See Also
 |      --------
 |      Index.all : Return whether all elements are True.
 |      Series.all : Return whether all elements are True.
 |
 |      Notes
 |      -----
 |      Not a Number (NaN), positive infinity and negative infinity
 |      evaluate to True because these are not equal to zero.
 |
 |      Examples
 |      --------
 |      >>> index = pd.Index([0, 1, 2])
 |      >>> index.any()
 |      True
 |
 |      >>> index = pd.Index([0, 0, 0])
 |      >>> index.any()
 |      False
 |
 |  argsort(self, *args, **kwargs) -> 'np.ndarray'
 |      Returns the indices that would sort the index and its
 |      underlying data.
 |
 |      Returns
 |      -------
 |      np.ndarray[np.intp]
 |
 |      See Also
 |      --------
 |      numpy.ndarray.argsort
 |
 |  copy(self, name: 'Hashable' = None, deep: 'bool' = False, dtype: 'Dtype | None' = None, names=None)
 |      Make a copy of this object.
 |
 |      Name and dtype sets those attributes on the new object.
 |
 |      Parameters
 |      ----------
 |      name : Label, optional
 |          Set name for new object.
 |      deep : bool, default False
 |      dtype : numpy dtype or pandas type, optional
 |          Set dtype for new object.
 |
 |          .. deprecated:: 1.2.0
 |              use ``astype`` method instead.
 |      names : list-like, optional
 |          Kept for compatibility with MultiIndex. Should not be used.
 |
 |      Returns
 |      -------
 |      Index
 |          Index refer to new object which is a copy of this object.
 |
 |      Notes
 |      -----
 |      In most cases, there should be no functional difference from using
 |      ``deep``, but if ``deep`` is passed it will attempt to deepcopy.
 |
 |  delete(self, loc) -> 'Int64Index'
 |      Make new Index with passed location(-s) deleted.
 |
 |      Parameters
 |      ----------
 |      loc : int or list of int
 |          Location of item(-s) which will be deleted.
 |          Use a list of locations to delete more than one value at the same time.
 |
 |      Returns
 |      -------
 |      Index
 |          Will be same type as self, except for RangeIndex.
 |
 |      See Also
 |      --------
 |      numpy.delete : Delete any rows and column from NumPy array (ndarray).
 |
 |      Examples
 |      --------
 |      >>> idx = pd.Index(['a', 'b', 'c'])
 |      >>> idx.delete(1)
 |      Index(['a', 'c'], dtype='object')
 |
 |      >>> idx = pd.Index(['a', 'b', 'c'])
 |      >>> idx.delete([0, 2])
 |      Index(['b'], dtype='object')
 |
 |  equals(self, other: 'object') -> 'bool'
 |      Determines if two Index objects contain the same elements.
 |
 |  factorize(self, sort: 'bool' = False, na_sentinel: 'int | None' = -1) -> 'tuple[np.ndarray, RangeIndex]'
 |      Encode the object as an enumerated type or categorical variable.
 |
 |      This method is useful for obtaining a numeric representation of an
 |      array when all that matters is identifying distinct values. `factorize`
 |      is available as both a top-level function :func:`pandas.factorize`,
 |      and as a method :meth:`Series.factorize` and :meth:`Index.factorize`.
 |
 |      Parameters
 |      ----------
 |      sort : bool, default False
 |          Sort `uniques` and shuffle `codes` to maintain the
 |          relationship.
 |
 |      na_sentinel : int or None, default -1
 |          Value to mark "not found". If None, will not drop the NaN
 |          from the uniques of the values.
 |
 |          .. versionchanged:: 1.1.2
 |
 |      Returns
 |      -------
 |      codes : ndarray
 |          An integer ndarray that's an indexer into `uniques`.
 |          ``uniques.take(codes)`` will have the same values as `values`.
 |      uniques : ndarray, Index, or Categorical
 |          The unique valid values. When `values` is Categorical, `uniques`
 |          is a Categorical. When `values` is some other pandas object, an
 |          `Index` is returned. Otherwise, a 1-D ndarray is returned.
 |
 |          .. note ::
 |
 |             Even if there's a missing value in `values`, `uniques` will
 |             *not* contain an entry for it.
 |
 |      See Also
 |      --------
 |      cut : Discretize continuous-valued array.
 |      unique : Find the unique value in an array.
 |
 |      Examples
 |      --------
 |      These examples all show factorize as a top-level method like
 |      ``pd.factorize(values)``. The results are identical for methods like
 |      :meth:`Series.factorize`.
 |
 |      >>> codes, uniques = pd.factorize(['b', 'b', 'a', 'c', 'b'])
 |      >>> codes
 |      array([0, 0, 1, 2, 0]...)
 |      >>> uniques
 |      array(['b', 'a', 'c'], dtype=object)
 |
 |      With ``sort=True``, the `uniques` will be sorted, and `codes` will be
 |      shuffled so that the relationship is the maintained.
 |
 |      >>> codes, uniques = pd.factorize(['b', 'b', 'a', 'c', 'b'], sort=True)
 |      >>> codes
 |      array([1, 1, 0, 2, 1]...)
 |      >>> uniques
 |      array(['a', 'b', 'c'], dtype=object)
 |
 |      Missing values are indicated in `codes` with `na_sentinel`
 |      (``-1`` by default). Note that missing values are never
 |      included in `uniques`.
 |
 |      >>> codes, uniques = pd.factorize(['b', None, 'a', 'c', 'b'])
 |      >>> codes
 |      array([ 0, -1,  1,  2,  0]...)
 |      >>> uniques
 |      array(['b', 'a', 'c'], dtype=object)
 |
 |      Thus far, we've only factorized lists (which are internally coerced to
 |      NumPy arrays). When factorizing pandas objects, the type of `uniques`
 |      will differ. For Categoricals, a `Categorical` is returned.
 |
 |      >>> cat = pd.Categorical(['a', 'a', 'c'], categories=['a', 'b', 'c'])
 |      >>> codes, uniques = pd.factorize(cat)
 |      >>> codes
 |      array([0, 0, 1]...)
 |      >>> uniques
 |      ['a', 'c']
 |      Categories (3, object): ['a', 'b', 'c']
 |
 |      Notice that ``'b'`` is in ``uniques.categories``, despite not being
 |      present in ``cat.values``.
 |
 |      For all other pandas objects, an Index of the appropriate type is
 |      returned.
 |
 |      >>> cat = pd.Series(['a', 'a', 'c'])
 |      >>> codes, uniques = pd.factorize(cat)
 |      >>> codes
 |      array([0, 0, 1]...)
 |      >>> uniques
 |      Index(['a', 'c'], dtype='object')
 |
 |      If NaN is in the values, and we want to include NaN in the uniques of the
 |      values, it can be achieved by setting ``na_sentinel=None``.
 |
 |      >>> values = np.array([1, 2, 1, np.nan])
 |      >>> codes, uniques = pd.factorize(values)  # default: na_sentinel=-1
 |      >>> codes
 |      array([ 0,  1,  0, -1])
 |      >>> uniques
 |      array([1., 2.])
 |
 |      >>> codes, uniques = pd.factorize(values, na_sentinel=None)
 |      >>> codes
 |      array([0, 1, 0, 2])
 |      >>> uniques
 |      array([ 1.,  2., nan])
 |
 |  get_loc(self, key, method=None, tolerance=None)
 |      Get integer location, slice or boolean mask for requested label.
 |
 |      Parameters
 |      ----------
 |      key : label
 |      method : {None, 'pad'/'ffill', 'backfill'/'bfill', 'nearest'}, optional
 |          * default: exact matches only.
 |          * pad / ffill: find the PREVIOUS index value if no exact match.
 |          * backfill / bfill: use NEXT index value if no exact match
 |          * nearest: use the NEAREST index value if no exact match. Tied
 |            distances are broken by preferring the larger index value.
 |      tolerance : int or float, optional
 |          Maximum distance from index value for inexact matches. The value of
 |          the index at the matching location must satisfy the equation
 |          ``abs(index[loc] - key) <= tolerance``.
 |
 |      Returns
 |      -------
 |      loc : int if unique index, slice if monotonic index, else mask
 |
 |      Examples
 |      --------
 |      >>> unique_index = pd.Index(list('abc'))
 |      >>> unique_index.get_loc('b')
 |      1
 |
 |      >>> monotonic_index = pd.Index(list('abbc'))
 |      >>> monotonic_index.get_loc('b')
 |      slice(1, 3, None)
 |
 |      >>> non_monotonic_index = pd.Index(list('abcb'))
 |      >>> non_monotonic_index.get_loc('b')
 |      array([False,  True, False,  True])
 |
 |  max(self, axis=None, skipna: 'bool' = True, *args, **kwargs) -> 'int'
 |      The maximum value of the RangeIndex
 |
 |  memory_usage(self, deep: 'bool' = False) -> 'int'
 |      Memory usage of my values
 |
 |      Parameters
 |      ----------
 |      deep : bool
 |          Introspect the data deeply, interrogate
 |          `object` dtypes for system-level memory consumption
 |
 |      Returns
 |      -------
 |      bytes used
 |
 |      Notes
 |      -----
 |      Memory usage does not include memory consumed by elements that
 |      are not components of the array if deep=False
 |
 |      See Also
 |      --------
 |      numpy.ndarray.nbytes
 |
 |  min(self, axis=None, skipna: 'bool' = True, *args, **kwargs) -> 'int'
 |      The minimum value of the RangeIndex
 |
 |  repeat(self, repeats, axis=None) -> 'Int64Index'
 |      Repeat elements of a Index.
 |
 |      Returns a new Index where each element of the current Index
 |      is repeated consecutively a given number of times.
 |
 |      Parameters
 |      ----------
 |      repeats : int or array of ints
 |          The number of repetitions for each element. This should be a
 |          non-negative integer. Repeating 0 times will return an empty
 |          Index.
 |      axis : None
 |          Must be ``None``. Has no effect but is accepted for compatibility
 |          with numpy.
 |
 |      Returns
 |      -------
 |      repeated_index : Index
 |          Newly created Index with repeated elements.
 |
 |      See Also
 |      --------
 |      Series.repeat : Equivalent function for Series.
 |      numpy.repeat : Similar method for :class:`numpy.ndarray`.
 |
 |      Examples
 |      --------
 |      >>> idx = pd.Index(['a', 'b', 'c'])
 |      >>> idx
 |      Index(['a', 'b', 'c'], dtype='object')
 |      >>> idx.repeat(2)
 |      Index(['a', 'a', 'b', 'b', 'c', 'c'], dtype='object')
 |      >>> idx.repeat([1, 2, 3])
 |      Index(['a', 'b', 'b', 'c', 'c', 'c'], dtype='object')
 |
 |  symmetric_difference(self, other, result_name: 'Hashable' = None, sort=None)
 |      Compute the symmetric difference of two Index objects.
 |
 |      Parameters
 |      ----------
 |      other : Index or array-like
 |      result_name : str
 |      sort : False or None, default None
 |          Whether to sort the resulting index. By default, the
 |          values are attempted to be sorted, but any TypeError from
 |          incomparable elements is caught by pandas.
 |
 |          * None : Attempt to sort the result, but catch any TypeErrors
 |            from comparing incomparable elements.
 |          * False : Do not sort the result.
 |
 |      Returns
 |      -------
 |      symmetric_difference : Index
 |
 |      Notes
 |      -----
 |      ``symmetric_difference`` contains elements that appear in either
 |      ``idx1`` or ``idx2`` but not both. Equivalent to the Index created by
 |      ``idx1.difference(idx2) | idx2.difference(idx1)`` with duplicates
 |      dropped.
 |
 |      Examples
 |      --------
 |      >>> idx1 = pd.Index([1, 2, 3, 4])
 |      >>> idx2 = pd.Index([2, 3, 4, 5])
 |      >>> idx1.symmetric_difference(idx2)
 |      Int64Index([1, 5], dtype='int64')
 |
 |  take(self, indices, axis: 'int' = 0, allow_fill: 'bool' = True, fill_value=None, **kwargs) -> 'Int64Index'
 |      Return a new Index of the values selected by the indices.
 |
 |      For internal compatibility with numpy arrays.
 |
 |      Parameters
 |      ----------
 |      indices : array-like
 |          Indices to be taken.
 |      axis : int, optional
 |          The axis over which to select values, always 0.
 |      allow_fill : bool, default True
 |      fill_value : scalar, default None
 |          If allow_fill=True and fill_value is not None, indices specified by
 |          -1 are regarded as NA. If Index doesn't hold NA, raise ValueError.
 |
 |      Returns
 |      -------
 |      Index
 |          An index formed of elements at the given indices. Will be the same
 |          type as self, except for RangeIndex.
 |
 |      See Also
 |      --------
 |      numpy.ndarray.take: Return an array formed from the
 |          elements of a at the given indices.
 |
 |  tolist(self) -> 'list[int]'
 |      Return a list of the values.
 |
 |      These are each a scalar type, which is a Python scalar
 |      (for str, int, float) or a pandas scalar
 |      (for Timestamp/Timedelta/Interval/Period)
 |
 |      Returns
 |      -------
 |      list
 |
 |      See Also
 |      --------
 |      numpy.ndarray.tolist : Return the array as an a.ndim-levels deep
 |          nested list of Python scalars.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_range(data: 'range', name=None, dtype: 'Dtype | None' = None) -> 'RangeIndex' from builtins.type
 |      Create RangeIndex from a range object.
 |
 |      Returns
 |      -------
 |      RangeIndex
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(cls, start=None, stop=None, step=None, dtype: 'Dtype | None' = None, copy: 'bool' = False, name: 'Hashable' = None) -> 'RangeIndex'
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  dtype
 |      Return the dtype object of the underlying data.
 |
 |  inferred_type
 |      Return a string of the type inferred from the values.
 |
 |  is_unique
 |      return if the index has unique values
 |
 |  size
 |      Return the number of elements in the underlying data.
 |
 |  start
 |      The value of the `start` parameter (``0`` if this was not supplied).
 |
 |  step
 |      The value of the `step` parameter (``1`` if this was not supplied).
 |
 |  stop
 |      The value of the `stop` parameter.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  is_monotonic_decreasing
 |
 |  is_monotonic_increasing
 |
 |  nbytes
 |      Return the number of bytes in the underlying data.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {'_range': 'range'}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pandas.core.indexes.numeric.NumericIndex:
 |
 |  astype(self, dtype, copy=True)
 |      Create an Index with values cast to dtypes.
 |
 |      The class of a new Index is determined by dtype. When conversion is
 |      impossible, a TypeError exception is raised.
 |
 |      Parameters
 |      ----------
 |      dtype : numpy dtype or pandas type
 |          Note that any signed integer `dtype` is treated as ``'int64'``,
 |          and any unsigned integer `dtype` is treated as ``'uint64'``,
 |          regardless of the size.
 |      copy : bool, default True
 |          By default, astype always returns a newly allocated object.
 |          If copy is set to False and internal requirements on dtype are
 |          satisfied, the original data is used to create a new Index
 |          or the original Index is returned.
 |
 |      Returns
 |      -------
 |      Index
 |          Index with values cast to specified dtype.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pandas.core.indexes.base.Index:
 |
 |  __abs__(self)
 |
 |  __and__(self, other)
 |
 |  __array__(self, dtype=None) -> 'np.ndarray'
 |      The array interface, return my values.
 |
 |  __array_wrap__(self, result, context=None)

In [ ]:
s2 = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'], name="My series")  # Assigning index & Name

In [ ]:
s2

a    10
b    20
c    30
d    40
e    50
Name: My series, dtype: int64

In [ ]:
type(s2)

pandas.core.series.Series

In [ ]:
v2 = s2.values

In [ ]:
v2

array([10, 20, 30, 40, 50])

In [ ]:
i2 = s2.index

In [ ]:
i2

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
type(i2)

pandas.core.indexes.base.Index

In [ ]:
s2.name

'My series'

In [ ]:
s2 = pd.Series([1,2,3,4], index=['a', 'b', 'c']) # Need to assign equally

ValueError: Length of values (4) does not match length of index (3)

In [ ]:
s2 = pd.Series([1,2,3,4], index=['a', 'b', 'c','d','e'])

ValueError: Length of values (4) does not match length of index (5)

In [ ]:
s3 = pd.Series(['Mark', 'John', 'Carol', 'Jill']) # dfault index it takes from 0....

In [ ]:
s3

0     Mark
1     John
2    Carol
3     Jill
dtype: object

In [ ]:
s3.values

array(['Mark', 'John', 'Carol', 'Jill'], dtype=object)

In [ ]:
s4 = pd.Series([101, 'Mark', 90.5]) # If one element out of all is string the type will be object

In [ ]:
s4

0     101
1    Mark
2    90.5
dtype: object

In [ ]:
s4.values

array([101, 'Mark', 90.5], dtype=object)

In [ ]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s1[0] # Indexing

1

In [ ]:
s1[1]

2

In [ ]:
s1[-1] # Indexing -1 will not work as it has no -1 inexing assigned. But can make it work with help of inner indexing

KeyError: -1

In [ ]:
s2

a    10
b    20
c    30
d    40
e    50
Name: My series, dtype: int64

In [ ]:
s2['a']

10

In [ ]:
s2['e']

50

In [ ]:
s2[0]

10

In [ ]:
s2

a    10
b    20
c    30
d    40
e    50
Name: My series, dtype: int64

In [ ]:
s2[-1]  # Here it works as it has no numerical indexing. Same time it takes inner index let see in detail

50

In [ ]:
s5 = pd.Series([10, 20, 30, 40], index=[1,2,3,4])

In [ ]:
s5

1    10
2    20
3    30
4    40
dtype: int64

In [ ]:
s5[1]

10

In [ ]:
s5[0] # Will not work as indexing startes from 1

KeyError: 0

#### Indexing : loc and iloc
* loc => outer index
* iloc => inner index

In [ ]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s1.loc[0]

1

In [ ]:
s2

a    10
b    20
c    30
d    40
e    50
Name: My series, dtype: int64

In [ ]:
s2.iloc[0]

10

In [ ]:
s2.iloc[-1]

50

In [ ]:
s5

1    10
2    20
3    30
4    40
dtype: int64

In [ ]:
s5[0]

KeyError: 0

In [ ]:
s5.iloc[0]

10

In [ ]:
s5

1    10
2    20
3    30
4    40
dtype: int64

In [ ]:
s5[1]

10

In [ ]:
s5.iloc[1]

20

In [ ]:
s5.loc[-1]

KeyError: -1

In [ ]:
s2

a    10
b    20
c    30
d    40
e    50
Name: My series, dtype: int64

In [ ]:
s2.iloc[-2]

40

In [ ]:
s6 = pd.Series([1,2,3,4], index=['a', 'b', 10, 20]) # Any type of indexing is accepted

In [ ]:
s6

a     1
b     2
10    3
20    4
dtype: int64

In [ ]:
s6.index

Index(['a', 'b', 10, 20], dtype='object')

In [ ]:
s6[0]

KeyError: 0

In [ ]:
s7 = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'd']) # Dulicate index also accepted

In [ ]:
s7

a    10
b    20
c    30
d    40
d    50
dtype: int64

In [ ]:
students = pd.Series([81.5, 90.5, 78.5, 86.0], index=['John', 'Jill', 'Mark', 'John'])

In [ ]:
students

John    81.5
Jill    90.5
Mark    78.5
John    86.0
dtype: float64

In [ ]:
s7

a    10
b    20
c    30
d    40
d    50
dtype: int64

In [ ]:
s7.loc['d']

d    40
d    50
dtype: int64

In [ ]:
s7

a    10
b    20
c    30
d    40
d    50
dtype: int64

In [ ]:
s7['d']

d    40
d    50
dtype: int64

In [ ]:
s7.loc['d']

d    40
d    50
dtype: int64

In [ ]:
s7.loc['d'].iloc[0]

40

In [ ]:
s7

a    10
b    20
c    30
d    40
d    50
dtype: int64

In [ ]:
s7.loc['a'] = 100  # Change the value

In [ ]:
s7

a    100
b     20
c     30
d     40
d     50
dtype: int64

In [ ]:
s7.loc['d'] = 100

In [ ]:
s7

a    100
b     20
c     30
d    100
d    100
dtype: int64

In [ ]:
s7.loc['d'].iloc[0] = 500

In [ ]:
s7

a    100
b     20
c     30
d    500
d    100
dtype: int64

In [ ]:
s7.loc['d'] = -1, -2  # Change value continually for respected index

In [ ]:
s7

a    100
b     20
c     30
d     -1
d     -2
dtype: int64

In [ ]:
import numpy as np

In [ ]:
s7.loc['d'] = np.array([0, 0])

In [ ]:
s7

a    100
b     20
c     30
d      0
d      0
dtype: int64

In [ ]:
s7

a    100
b     20
c     30
d      0
d      0
dtype: int64

In [ ]:
s7.loc[['a', 'b']]

a    100
b     20
dtype: int64

In [ ]:
s7.loc[['a', 'b', 'd']]

a    100
b     20
d      0
d      0
dtype: int64

In [ ]:
s7

a    100
b     20
c     30
d      0
d      0
dtype: int64

In [ ]:
s7[1:3] # Slicing

b    20
c    30
dtype: int64

In [ ]:
s7.iloc[1:3]

b    20
c    30
dtype: int64

In [ ]:
s7

a    100
b     20
c     30
d      0
d      0
dtype: int64

In [ ]:
s7.loc['a':'c']

a    100
b     20
c     30
dtype: int64

In [ ]:
s7.loc['c':'a':-1] # Reversing

c     30
b     20
a    100
dtype: int64

In [ ]:
s7

a    100
b     20
c     30
d      0
d      0
dtype: int64

In [ ]:
s7 + 1 # arithmetic operators

a    101
b     21
c     31
d      1
d      1
dtype: int64

In [ ]:
s7 - 1

a    99
b    19
c    29
d    -1
d    -1
dtype: int64

In [ ]:
s7 * 2

a    200
b     40
c     60
d      0
d      0
dtype: int64

In [ ]:
s7 # Original value will not change

a    100
b     20
c     30
d      0
d      0
dtype: int64

In [ ]:
s7 < 10

a    False
b    False
c    False
d     True
d     True
dtype: bool

In [ ]:
s7

a    100
b     20
c     30
d      0
d      0
dtype: int64

In [ ]:
s7[s7 < 10]

d    0
d    0
dtype: int64

In [ ]:
students

John    81.5
Jill    90.5
Mark    78.5
John    86.0
dtype: float64

In [ ]:
# fetch the student details having more than 85% marks

In [ ]:
students[students>=85]

Jill    90.5
John    86.0
dtype: float64

In [ ]:
s8 = pd.Series(['a', 10, 'hi', 20.5])

In [ ]:
s8

0       a
1      10
2      hi
3    20.5
dtype: object

In [ ]:
s8 + 1 # arithmetic operators is not allowed with diffrent elements

TypeError: ignored

In [ ]:
students_data = {'Alice': 91.5, 'Carol': 68.5, 'John': 87.5, 'Dan': 81.0, 'Mark':56.5}

In [ ]:
students_data

{'Alice': 91.5, 'Carol': 68.5, 'John': 87.5, 'Dan': 81.0, 'Mark': 56.5}

In [ ]:
ser1 = pd.Series(students_data)

In [ ]:
ser1

Alice    91.5
Carol    68.5
John     87.5
Dan      81.0
Mark     56.5
dtype: float64

In [ ]:
students_data

{'Alice': 91.5, 'Carol': 68.5, 'John': 87.5, 'Dan': 81.0, 'Mark': 56.5}

In [ ]:
ser2 = pd.Series(students_data, index=['Dan', 'Ross', 'Steve', 'Alice', 'John', 'Monica'])

In [ ]:
ser2 # NaN => Not a number => numpy.float64 datatype

Dan       81.0
Ross       NaN
Steve      NaN
Alice     91.5
John      87.5
Monica     NaN
dtype: float64

In [ ]:
ser2.loc['Ross']

nan

In [ ]:
type(ser2.loc['Ross'])

numpy.float64

In [ ]:
d1 = {'one': 1, 'two': 2, 'five':5}

In [ ]:
d1

{'one': 1, 'two': 2, 'five': 5}

In [ ]:
ser3 = pd.Series(d1, index=['one', 'three'])

In [ ]:
ser3

one      1.0
three    NaN
dtype: float64

In [ ]:
ser4 = pd.Series([101, 'John', 90.5])

In [ ]:
ser4

0     101
1    John
2    90.5
dtype: object

In [ ]:
ser4.values

array([101, 'John', 90.5], dtype=object)

In [ ]:
pd.Series([10,20, 90, 7.5])

0    10.0
1    20.0
2    90.0
3     7.5
dtype: float64

In [ ]:
pd.Series([101, 102, 'Hi'])

0    101
1    102
2     Hi
dtype: object

In [ ]:
ser2

Dan       81.0
Ross       NaN
Steve      NaN
Alice     91.5
John      87.5
Monica     NaN
dtype: float64

In [ ]:
sub1 = {'Alice':91.5, 'John': 87.5, 'Dan': 77.0}

In [ ]:
sub2 = {'Alice': 71.5, 'Mark': 81.0, 'John': 66.5, 'Jill': 89.0}

In [ ]:
sub1

{'Alice': 91.5, 'John': 87.5, 'Dan': 77.0}

In [ ]:
sub2

{'Alice': 71.5, 'Mark': 81.0, 'John': 66.5, 'Jill': 89.0}

In [ ]:
s1 = pd.Series(sub1, index=['Alice', 'John', 'Jill', 'Carol', 'Mark'])

In [ ]:
s1

Alice    91.5
John     87.5
Jill      NaN
Carol     NaN
Mark      NaN
dtype: float64

In [ ]:
s2 = pd.Series(sub2, index=['Alice', 'John', 'Jill', 'Carol', 'Mark', 'Monica'])

In [ ]:
s2

Alice     71.5
John      66.5
Jill      89.0
Carol      NaN
Mark      81.0
Monica     NaN
dtype: float64

In [ ]:
s1

Alice    91.5
John     87.5
Jill      NaN
Carol     NaN
Mark      NaN
dtype: float64

In [ ]:
s2

Alice     71.5
John      66.5
Jill      89.0
Carol      NaN
Mark      81.0
Monica     NaN
dtype: float64

In [ ]:
s1 + s2

Alice     163.0
Carol       NaN
Jill        NaN
John      154.0
Mark        NaN
Monica      NaN
dtype: float64

#### Dataframe - 2D structure - tabular data

In [ ]:
data = {'names' : ['John', 'Alice', 'Mark', 'Carol'],
       'ids': [101, 102, 103, 104],
       'percents': [81.5, 90.5, 77.5, 61.0]}

In [ ]:
data

{'names': ['John', 'Alice', 'Mark', 'Carol'],
 'ids': [101, 102, 103, 104],
 'percents': [81.5, 90.5, 77.5, 61.0]}

In [ ]:
df1 = pd.DataFrame(data)

In [ ]:
print(df1)

   names  ids  percents
0   John  101      81.5
1  Alice  102      90.5
2   Mark  103      77.5
3  Carol  104      61.0

In [ ]:
df1

   names  ids  percents
0   John  101      81.5
1  Alice  102      90.5
2   Mark  103      77.5
3  Carol  104      61.0

In [ ]:
type(df1)

pandas.core.frame.DataFrame

In [ ]:
df1.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
df1.values

array([['John', 101, 81.5],
       ['Alice', 102, 90.5],
       ['Mark', 103, 77.5],
       ['Carol', 104, 61.0]], dtype=object)

In [ ]:
df1.columns

Index(['names', 'ids', 'percents'], dtype='object')

In [ ]:
df2 = pd.DataFrame(data, index=['a', 'b', 'c', 'd'], columns=['ids', 'names', 'percents'])

In [ ]:
df2

   ids  names  percents
a  101   John      81.5
b  102  Alice      90.5
c  103   Mark      77.5
d  104  Carol      61.0

In [ ]:
df2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
df2.values

array([[101, 'John', 81.5],
       [102, 'Alice', 90.5],
       [103, 'Mark', 77.5],
       [104, 'Carol', 61.0]], dtype=object)

In [ ]:
df2.columns

Index(['ids', 'names', 'percents'], dtype='object')

In [ ]:
df2

   ids  names  percents
a  101   John      81.5
b  102  Alice      90.5
c  103   Mark      77.5
d  104  Carol      61.0

In [ ]:
df2.loc['b']

ids           102
names       Alice
percents     90.5
Name: b, dtype: object

In [ ]:
df2.iloc[1]

ids           102
names       Alice
percents     90.5
Name: b, dtype: object

In [ ]:
df2

   ids  names  percents
a  101   John      81.5
b  102  Alice      90.5
c  103   Mark      77.5
d  104  Carol      61.0

In [ ]:
df2['names']

a     John
b    Alice
c     Mark
d    Carol
Name: names, dtype: object

In [ ]:
df2.loc['c']

ids          103
names       Mark
percents    77.5
Name: c, dtype: object

In [ ]:
df2.loc['c'].loc['percents']

77.5

In [ ]:
df2.loc['c']['percents']

77.5

In [ ]:
df2['percents'].loc['c']

77.5

In [ ]:
df2

   ids  names  percents
a  101   John      81.5
b  102  Alice      90.5
c  103   Mark      77.5
d  104  Carol      61.0

In [ ]:
df2.iloc[2].iloc[2]

77.5

In [ ]:
df2

   ids  names  percents
a  101   John      81.5
b  102  Alice      90.5
c  103   Mark      77.5
d  104  Carol      61.0

In [ ]:
data

{'names': ['John', 'Alice', 'Mark', 'Carol'],
 'ids': [101, 102, 103, 104],
 'percents': [81.5, 90.5, 77.5, 61.0]}

In [ ]:
df3 = pd.DataFrame(data, columns=['ids', 'percents', 'grade'])

In [ ]:
df3

   ids  percents grade
0  101      81.5   NaN
1  102      90.5   NaN
2  103      77.5   NaN
3  104      61.0   NaN

In [ ]:
df3.index = ['a', 'b', 'c', 'd']

In [ ]:
df3

   ids  percents grade
a  101      81.5   NaN
b  102      90.5   NaN
c  103      77.5   NaN
d  104      61.0   NaN

In [ ]:
df3['grade'] = 'A' # It adds same value to all the  Columns

In [ ]:
df3

   ids  percents grade
a  101      81.5     A
b  102      90.5     A
c  103      77.5     A
d  104      61.0     A

In [ ]:
df3['col1'] = 10 # Add New Columns

In [ ]:
df3

   ids  percents grade  col1
a  101      81.5     A    10
b  102      90.5     A    10
c  103      77.5     A    10
d  104      61.0     A    10

In [ ]:
df3['col2'] = [10, 20, 30, 40]

In [ ]:
df3

   ids  percents grade  col1  col2
a  101      81.5     A    10    10
b  102      90.5     A    10    20
c  103      77.5     A    10    30
d  104      61.0     A    10    40

In [ ]:
df3['col3'] = [10, 20, 30]

ValueError: ignored

In [ ]:
df3

   ids  percents grade  col1  col2
a  101      81.5     A    10    10
b  102      90.5     A    10    20
c  103      77.5     A    10    30
d  104      61.0     A    10    40

In [ ]:
import numpy as np

In [ ]:
df3['col3'] = np.arange(10, 18, 2) # Here 10 start value 2 is steps and 18 last value is ignorred

In [ ]:
df3

   ids  percents grade  col1  col2  col3
a  101      81.5     A    10    10    10
b  102      90.5     A    10    20    12
c  103      77.5     A    10    30    14
d  104      61.0     A    10    40    16

In [ ]:
len(df3)

4

In [ ]:
series1 = pd.Series([10, 6, 8, 0, 4, 12, 5], index=['h', 'c', 'a', 'z', 'g', 'e', 'j'])

In [ ]:
series1

h    10
c     6
a     8
z     0
g     4
e    12
j     5
dtype: int64

In [ ]:
df3

   ids  percents grade  col1  col2  col3
a  101      81.5     A    10    10    10
b  102      90.5     A    10    20    12
c  103      77.5     A    10    30    14
d  104      61.0     A    10    40    16

In [ ]:
df3['col4'] = series1 # Here if the series index is availabe it will add else add NaN

In [ ]:
df3

   ids  percents grade  col1  col2  col3  col4
a  101      81.5     A    10    10    10   8.0
b  102      90.5     A    10    20    12   NaN
c  103      77.5     A    10    30    14   6.0
d  104      61.0     A    10    40    16   NaN

In [ ]:
df3.replace(14, 20) # Replace all value 14 to 20. But not in permenent added

   ids  percents grade  col1  col2  col3  col4
a  101      81.5     A    10    10    10   8.0
b  102      90.5     A    10    20    12   NaN
c  103      77.5     A    10    30    20   6.0
d  104      61.0     A    10    40    16   NaN

In [ ]:
df3

   ids  percents grade  col1  col2  col3  col4
a  101      81.5     A    10    10    10   8.0
b  102      90.5     A    10    20    12   NaN
c  103      77.5     A    10    30    14   6.0
d  104      61.0     A    10    40    16   NaN

In [ ]:
df3.replace(14, 20, inplace=True)  # Replace all value 14 to 20. make it permenent

In [ ]:
df3

   ids  percents grade  col1  col2  col3  col4
a  101      81.5     A    10    10    10   8.0
b  102      90.5     A    10    20    12   NaN
c  103      77.5     A    10    30    20   6.0
d  104      61.0     A    10    40    16   NaN

#### drop()

In [ ]:
help(df3.drop)

Help on method drop in module pandas.core.frame:

drop(labels: 'IndexLabel' = None, *, axis: 'Axis' = 0, index: 'IndexLabel' = None, columns: 'IndexLabel' = None, level: 'Level' = None, inplace: 'bool' = False, errors: 'IgnoreRaise' = 'raise') -> 'DataFrame | None' method of pandas.core.frame.DataFrame instance
    Drop specified labels from rows or columns.

    Remove rows or columns by specifying label names and corresponding
    axis, or by specifying directly index or column names. When using a
    multi-index, labels on different levels can be removed by specifying
    the level. See the `user guide <advanced.shown_levels>`
    for more information about the now unused levels.

    Parameters
    ----------
    labels : single label or list-like
        Index or column labels to drop. A tuple will be used as a single
        label and not treated as a list-like.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Whether to drop labels from the index (0 or 'index') or
        columns (1 or 'columns').
    index : single label or list-like
        Alternative to specifying axis (``labels, axis=0``
        is equivalent to ``index=labels``).
    columns : single label or list-like
        Alternative to specifying axis (``labels, axis=1``
        is equivalent to ``columns=labels``).
    level : int or level name, optional
        For MultiIndex, level from which the labels will be removed.
    inplace : bool, default False
        If False, return a copy. Otherwise, do operation
        inplace and return None.
    errors : {'ignore', 'raise'}, default 'raise'
        If 'ignore', suppress error and only existing labels are
        dropped.

    Returns
    -------
    DataFrame or None
        DataFrame without the removed index or column labels or
        None if ``inplace=True``.

    Raises
    ------
    KeyError
        If any of the labels is not found in the selected axis.

    See Also
    --------
    DataFrame.loc : Label-location based indexer for selection by label.
    DataFrame.dropna : Return DataFrame with labels on given axis omitted
        where (all or any) data are missing.
    DataFrame.drop_duplicates : Return DataFrame with duplicate rows
        removed, optionally only considering certain columns.
    Series.drop : Return Series with specified index labels removed.

    Examples
    --------
    >>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
    ...                   columns=['A', 'B', 'C', 'D'])
    >>> df
       A  B   C   D
    0  0  1   2   3
    1  4  5   6   7
    2  8  9  10  11

    Drop columns

    >>> df.drop(['B', 'C'], axis=1)
       A   D
    0  0   3
    1  4   7
    2  8  11

    >>> df.drop(columns=['B', 'C'])
       A   D
    0  0   3
    1  4   7
    2  8  11

    Drop a row by index

    >>> df.drop([0, 1])
       A  B   C   D
    2  8  9  10  11

    Drop columns and/or rows of MultiIndex DataFrame

    >>> midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
    ...                              ['speed', 'weight', 'length']],
    ...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
    ...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
    >>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
    ...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
    ...                         [250, 150], [1.5, 0.8], [320, 250],
    ...                         [1, 0.8], [0.3, 0.2]])
    >>> df
                    big     small
    lama    speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            weight  1.0     0.8
            length  0.3     0.2

    Drop a specific index combination from the MultiIndex
    DataFrame, i.e., drop the combination ``'falcon'`` and
    ``'weight'``, which deletes only the corresponding row

    >>> df.drop(index=('falcon', 'weight'))
                    big     small
    lama    speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            length  0.3     0.2

    >>> df.drop(index='cow', columns='small')
                    big
    lama    speed   45.0
            weight  200.0
            length  1.5
    falcon  speed   320.0
            weight  1.0
            length  0.3

    >>> df.drop(index='length', level=1)
                    big     small
    lama    speed   45.0    30.0
            weight  200.0   100.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
    falcon  speed   320.0   250.0
            weight  1.0     0.8

In [ ]:
df3

   ids  percents grade  col1  col2  col3  col4
a  101      81.5     A    10    10    10   8.0
b  102      90.5     A    10    20    12   NaN
c  103      77.5     A    10    30    20   6.0
d  104      61.0     A    10    40    16   NaN

In [ ]:
df3.drop(['col1', 'col2'], axis=1) # Here axis=1 works cloumn vice axis=0 is for row vice also default is axis=0

   ids  percents grade  col3  col4
a  101      81.5     A    10   8.0
b  102      90.5     A    12   NaN
c  103      77.5     A    20   6.0
d  104      61.0     A    16   NaN

In [ ]:
df3

   ids  percents grade  col1  col2  col3  col4
a  101      81.5     A    10    10    10   8.0
b  102      90.5     A    10    20    12   NaN
c  103      77.5     A    10    30    20   6.0
d  104      61.0     A    10    40    16   NaN

In [ ]:
df3.drop(['col1', 'col2'], axis=1, inplace=True)

In [ ]:
df3

   ids  percents grade  col3  col4
a  101      81.5     A    10   8.0
b  102      90.5     A    12   NaN
c  103      77.5     A    20   6.0
d  104      61.0     A    16   NaN

In [ ]:
df3.drop(['col4'], inplace=True)

KeyError: ignored

In [ ]:
df3.drop(['d'], axis=0)

   ids  percents grade  col3  col4
a  101      81.5     A    10   8.0
b  102      90.5     A    12   NaN
c  103      77.5     A    20   6.0

In [ ]:
df3

   ids  percents grade  col3  col4
a  101      81.5     A    10   8.0
b  102      90.5     A    12   NaN
c  103      77.5     A    20   6.0
d  104      61.0     A    16   NaN

In [ ]:
df4 = df3.drop(['d'], axis=0)  # Here d4 is a copy & permenet

In [ ]:
df4

   ids  percents grade  col3  col4
a  101      81.5     A    10   8.0
b  102      90.5     A    12   NaN
c  103      77.5     A    20   6.0

In [ ]:
df3

   ids  percents grade  col3  col4
a  101      81.5     A    10   8.0
b  102      90.5     A    12   NaN
c  103      77.5     A    20   6.0
d  104      61.0     A    16   NaN

""Situvation - 1""
* ""create a column named 'award' the values of this column will depend on the percent column if the student has got more than 90% marks, then he/gets an award value of the column => True, else False""

In [ ]:
df3['percents']

a    81.5
b    90.5
c    77.5
d    61.0
Name: percents, dtype: float64

In [ ]:
df3['percents'] >= 90

a    False
b     True
c    False
d    False
Name: percents, dtype: bool

In [ ]:
df3

   ids  percents grade  col3  col4
a  101      81.5     A    10   8.0
b  102      90.5     A    12   NaN
c  103      77.5     A    20   6.0
d  104      61.0     A    16   NaN

In [ ]:
df3['award'] = df3['percents'] >= 90

""Situvation - 3""
create a sports column assign 'yes' to id number 104 and 'no' to everyone else

In [ ]:
df3['sports'] = ['no', 'no', 'no', 'yes']

In [ ]:
df3

   ids  percents grade  col3  col4  award sports
a  101      81.5     A    10   8.0  False     no
b  102      90.5     A    12   NaN   True     no
c  103      77.5     A    20   6.0  False     no
d  104      61.0     A    16   NaN  False    yes

In [ ]:
df3.drop(['grade', 'col3', 'col4', 'award'], axis=1, inplace=True)

In [ ]:
df3

   ids  percents sports
a  101      81.5     no
b  102      90.5     no
c  103      77.5     no
d  104      61.0    yes

""create a column named 'award' the values of this column will depend on the percent column and sports column if the student has got more than or equal to 90% marks OR plays sports, then he/she gets an award value of the column => True, else False ""

In [ ]:
df3['percents'] >= 90 or df3['sports'] == 'yes'

ValueError: ignored

In [ ]:
(df3['percents'] >= 90) or (df3['sports'] == 'yes')

ValueError: ignored

In [ ]:
(df3['percents'] >= 90) | (df3['sports'] == 'yes')

a    False
b     True
c    False
d     True
dtype: bool

In [ ]:
df3

   ids  percents sports
a  101      81.5     no
b  102      90.5     no
c  103      77.5     no
d  104      61.0    yes

In [ ]:
df3['percents'] >= 90

a    False
b     True
c    False
d    False
Name: percents, dtype: bool

In [ ]:
df3['sports'] == 'yes'

a    False
b    False
c    False
d     True
Name: sports, dtype: bool

In [ ]:
df3['award'] = (df3['percents'] >= 90) | (df3['sports'] == 'yes')

In [ ]:
df3

   ids  percents sports  award
a  101      81.5     no  False
b  102      90.5     no   True
c  103      77.5     no  False
d  104      61.0    yes   True

""create a column named 'award' the values of this column will depend on the percent column and sports column if the student has got more than or equal to 90% marks OR plays sports, then he/she gets an award value of the column => 'yes', else 'no' ""

In [ ]:
np.where((df3['percents'] >= 90) | (df3['sports'] == 'yes'), 'yes', 'no')

array(['no', 'yes', 'no', 'yes'], dtype='<U3')

In [ ]:
df3['award'] = np.where((df3['percents'] >= 90) | (df3['sports'] == 'yes'), 'yes', 'no')

In [ ]:
df3

   ids  percents sports award
a  101      81.5     no    no
b  102      90.5     no   yes
c  103      77.5     no    no
d  104      61.0    yes   yes

""create a column 'grade'
* values will depend on 'percents' column
* if percents>=90 => 'A'
* if percents bet 80-89 => 'B'
* if percents bet 70-79 => 'C'
* if percents bet 60-69 => 'D'
* if percents < 60 => 'F' ""

In [ ]:
conditions = [df3['percents']>=90,
              (df3['percents']>=80) & (df3['percents']<89),
             (df3['percents']>=70) & (df3['percents']<79),
             (df3['percents']>=60) & (df3['percents']<69)]

choices = ['A', 'B', 'C', 'D']
def_grade = 'F'

In [ ]:
np.select(conditions, choices, def_grade)

array(['B', 'A', 'C', 'D'], dtype='<U1')

In [ ]:
df3['grade'] = np.select(conditions, choices, def_grade)

In [ ]:
df3

   ids  percents sports award grade
a  101      81.5     no    no     B
b  102      90.5     no   yes     A
c  103      77.5     no    no     C
d  104      61.0    yes   yes     D

#### Sorting

In [ ]:
series1

h    10
c     6
a     8
z     0
g     4
e    12
j     5
dtype: int64

In [ ]:
series1.sort_index()  # Index sorting

a     8
c     6
e    12
g     4
h    10
j     5
z     0
dtype: int64

In [ ]:
series1

h    10
c     6
a     8
z     0
g     4
e    12
j     5
dtype: int64

In [ ]:
series1.sort_index(ascending=False)  # As we don't have desinding to achive desinding here we use ascending=False

z     0
j     5
h    10
g     4
e    12
c     6
a     8
dtype: int64

In [ ]:
series1.sort_values() # Index Value

z     0
g     4
j     5
c     6
a     8
h    10
e    12
dtype: int64

In [ ]:
series1.sort_values(ascending=False, inplace=True)

In [ ]:
series1

e    12
h    10
a     8
c     6
j     5
g     4
z     0
dtype: int64

In [ ]:
df3

   ids  percents sports award grade
a  101      81.5     no    no     B
b  102      90.5     no   yes     A
c  103      77.5     no    no     C
d  104      61.0    yes   yes     D

In [ ]:
df3.sort_index(ascending=False)

   ids  percents sports award grade
d  104      61.0    yes   yes     D
c  103      77.5     no    no     C
b  102      90.5     no   yes     A
a  101      81.5     no    no     B

In [ ]:
df3

   ids  percents sports award grade
a  101      81.5     no    no     B
b  102      90.5     no   yes     A
c  103      77.5     no    no     C
d  104      61.0    yes   yes     D

In [ ]:
# sort df3 using percents columns
# higher percent first

In [ ]:
df3.sort_values()

TypeError: ignored

In [ ]:
df3.sort_values(by='percents', inplace=True, ascending=False)

In [ ]:
df3

   ids  percents sports award grade
b  102      90.5     no   yes     A
a  101      81.5     no    no     B
c  103      77.5     no    no     C
d  104      61.0    yes   yes     D

#### TEST

In [ ]:
from google.colab import files   # To load a file from PC to Google.colab
Upload = files.upload()   # Upload file from google colob

Saving share_example.xlsx to share_example.xlsx

In [ ]:
fh = open('share_example.xlsx', 'DataFrame')

ValueError: ignored

In [ ]:
fh

In [ ]:
# shares_df = pd.read_excel('share_example.xlsx')  # Direcctly use by anoconda install

In [ ]:
shares_df

{'share_example.xlsx': b'PK\x03\x04\x14\x00\x06\x00\x08\x00\x00\x00!\x00\xebz\xd2\x93b\x01\x00\x00\x90\x04\x00\x00\x13\x00\xdc\x01[Content_Types].xml \xa2\xd8\x01(\xa0\x00\x02\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\xacT\xcbN\xc30\x10\xbc#\xf1\x0f\x91\xaf(q\xcb\x01!\xd4\xb4\x07\x1eG\xa8\x04|\x80\xb17\x8dU\xc7\xb6\xbc\xdb\xd2\xfe=\x9b\x84V\x80J\xa4\xaa\xbd$\x8a\xa2\x9d\x99\x9d\x19{2\xdb4.[CB\x1b|)\xc6\xc5Hd\xe0u0\xd6/J\xf1\xfe\xf6\x94\xdf\x8a\x0cIy\xa3\\\xf0P\x8a-\xa0\x98M//&o\xdb\x08\x98\xf1\xb4\xc7R\xd4D\xf1NJ\xd454\n\x8b\x10\xc1\xf3\x9f*\xa4F\x11\x7f\xa6\x85\x8cJ/\xd5\x02\xe4\xf5ht#u\xf0\x04\x9erj1\xc4t\xf2\xc2\x02\x925\x90\xcdU\xa2g\xd50\x8f\xdc8I\x8c\x06\xfds\\0\x9e\xc8\xee\xfb\xc1\x96\xbb\x14*Fg\xb5"V.\xd7\xde\xfca\xcdCUY\r&\xe8U\xc3\\E\x07v\xd5\xa2\xc8\x7f\t\x91\xb6\x0e\xf0d*\x8c\t\x94\xc1\x1a\x80\x1aW\xf4\xa0;\xe6\x07\xa8\xd4\xcaQ\xf6\xb8a\x07z\xd3\x138<n\xb5o3\x0b\x9e\xec\xd6\xc7\xdaF\x1c`\x18\xf6n\xd8\x93\xcf\x90\x96\x1f!,\xcf\xedJ\xebN\xd1(\xebw\xba\x0f\x95\x80\xd3\x9b\xa7\x10Qr\xd6\'\x0b\x80\xd6r\x03&\x8f\x0c\t\x89,\xec=;\xc4\xcd\x05lw\xefbD\xd9\xbdNo\xe1\xefj\xec\xf1\x87<`\x1dX\xab\x04\xe6\x95\x12\x9f\xca\xb3\xd7\xf3\'\xf6\x90\x8e}\x16:$8>\x8c]g\xdb\xe9\x03\t\xc8\xee>\x99~\x01\x00\x00\xff\xff\x03\x00PK\x03\x04\x14\x00\x06\x00\x08\x00\x00\x00!\x00\xb5U0#\xf5\x00\x00\x00L\x02\x00\x00\x0b\x00\xce\x01_rels/.rels \xa2\xca\x01(\xa0\x00\x02\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x8c\x92\xcfN\xc30\x0c\xc6\xefH\xbcC\xe4\xfb\xeanH\x08\xa1\xa5\xbbLH\xbb!T\x1e\xc0$\xee\x1f\xb5\x8d\xa3$@\xf7\xf6\x84\x03\x82Jc\xdb\xd1\xf6\xe7\xcf?[\xde\xee\xe6iT\x1f\x1cb/N\xc3\xba(A\xb13b{\xd7jx\xad\x9fV\x0f\xa0b"gi\x14\xc7\x1a\x8e\x1caW\xdd\xdel_x\xa4\x94\x9bb\xd7\xfb\xa8\xb2\x8b\x8b\x1a\xba\x94\xfc#b4\x1dO\x14\x0b\xf1\xecr\xa5\x910Q\xcaah\xd1\x93\x19\xa8e\xdc\x94\xe5=\x86\xbf\x1eP-<\xd5\xc1j\x08\x07{\x07\xaa>\xfa<\xf9\xb2\xb74Mox/\xe6}b\x97N\x8c@\x9e\x13;\xcbv\xe5Cf\x0b\xa9\xcf\xdb\xa8\x9aB\xcbI\x83\x15\xf3\x9c\xd3\x11\xc9\xfb"c\x03\x9e&\xda\\O\xf4\xff\xb68q"K\x89\xd0H\xe0\xf3<\xdf\x8as@\xeb\xeb\x81.\x9fh\xa9\xf8\xbd\xce<\xe2\xa7\x84\xe1Md\xf8a\xc1\xc5\x0fT_\x00\x00\x00\xff\xff\x03\x00PK\x03\x04\x14\x00\x06\x00\x08\x00\x00\x00!\x00\x81>\x94\x97\xf4\x00\x00\x00\xba\x02\x00\x00\x1a\x00\x08\x01xl/_rels/workbook.xml.rels \xa2\x04\x01(\xa0\x00\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\xac\x92\xcfJ\xc40\x10\xc6\xef\x82\xef\x10\xe6n\xd3\xae""\x9b\xeeE\x84\xbdj}\x80\x90L\x9b\xb2m\x122\xe3\x9f\xbe\xbd\xa1\xa2\xdb\x85e\xbd\xf4\x12\xf8f\xc8\xf7\xfd2\x99\xed\xeek\x1c\xc4\x07&\xea\x83WP\x15%\x08\xf4&\xd8\xdew\n\xde\x9a\xe7\x9b\x07\x10\xc4\xda[=\x04\x8f\n&$\xd8\xd5\xd7W\xdb\x17\x1c4\xe7K\xe4\xfaH"\xbbxR\xe0\x98\xe3\xa3\x94d\x1c\x8e\x9a\x8a\x10\xd1\xe7N\x1b\xd2\xa89\xcb\xd4\xc9\xa8\xcdAw(7ey/\xd3\xd2\x03\xea\x13O\xb1\xb7\n\xd2\xde\xde\x82h\xa6\x98\x93\xff\xf7\x0em\xdb\x1b|\n\xe6}D\xcfg"$\xf14\xe4\x07\x88F\xa7\x0eY\xc1\x8f.2#\xc8\xf3\xf1\x9b5\xe39\x8f\x05\x8f\xe9\xb3\x94\xf3Y]b\xa8\xd6d\xf8\x0c\xe9@\x0e\x91\x8f\x1c\x7f%\x92s\xe7"\xcc\xdd\x9a0\xe4tB\xfb\xca)\xaf\xdb\xf2[\x96\xe5\xdf\xc9\xc8\x93\x8d\xab\xbf\x01\x00\x00\xff\xff\x03\x00PK\x03\x04\x14\x00\x06\x00\x08\x00\x00\x00!\x00\xe1P\xb5\x1d\x18\x02\x00\x00G\x04\x00\x00\x0f\x00\x00\x00xl/workbook.xml\x9cR]o\x9b0\x14}\x9f\xb4\xff\x80\xfcN\xb0\xf9(\t\n\xa9F\x00\xadR[Um\x96<N\x1e\x98`\x050\xb2\x9d%\xd5\xd4\xff\xbekH\xdaN\x9d\xa6h/\x98{}|\xef=\xe7\xdc\xf9\xf5\xb1m\xac\x9fL*.\xba\x18\x91\tF\x16\xeb\nQ\xf2n\x1b\xa3o\xab\xdc\x9e"Ki\xda\x95\xb4\x11\x1d\x8b\xd13S\xe8z\xf1\xf9\xd3\xfc \xe4\xee\x87\x10;\x0b\nt*F\xb5\xd6}\xe48\xaa\xa8YK\xd5D\xf4\xac\x83\x9bJ\xc8\x96j\x08\xe5\xd6Q\xbdd\xb4T5c\xbam\x1c\x17\xe3+\xa7\xa5\xbcCc\x85H^RCT\x15/X*\x8a}\xcb:=\x16\x91\xac\xa1\x1a\xc6W5\xef\x15Z\xcc+\xde\xb0\xf5\xc8\xc8\xa2}\x7fO[\x98\xfb\xd8 \xab\xa1Jg%\xd7\xac\x8c\x91\x0f\xa18\xb0\xb7D\x88,\xb9\xef\x93=o\xccm\x80\x03\xe4,^I>H\x08\x0c\xdb5g\x07\xf5\x967\xa1u\xdc\xf0\xae\x14\x87\x18y3\x0c\xf2=\x9fC\xd7\x85"\xd6a\xb8\xdc\xf0R\xd71rq\xe8\x01d\xcc}e|[k\x10\x9d\x84W\xd8ts\xdeu\x18d\x82N\xc3iu\x03\x87\'#\x1d\x01?\xccy\x03c\xc2\xbf\x8c8\xfc\xc8\x9b\x92\x0c\x15\xce\xcf\n\xda\x14\x0f\xd22\xc7\x00t\xfd\x80\xcc\x0c\x82\x1d\xf5\xad\xd2\'\xc9\x8f$\xf8 z\xcb\x0b)\x94\xa8\xf4\xa4\x10\xad3\xea\xfd\xc1:\x82\x1dBF\xf7\x86\x92\xd6^\xf2\x18\xfd">\xfe\x12\xe2\x99o\xe3\xcc\x0bl\x7f:s\xed\xa9\xef\xb9\xf6\xd2O\xdd,\x08\xb34K\x82\x17p\x08\xfaF\xe7\xfd1S\xd6T\xea\x95\xa4\xc5\x0e\xb6\xee\x91U\tU\xe0\xd8H\x08\xe6}\xdf!\t\xa6\t\xf6\xa0\xae\x9f\x93\xdc\xf6\xc9\x0c\xdbIr\xe5\xdbA\x9a{AH\xd2e\x16\xe4/\xe7\x8d:\x1a\xfa\xd5\x7f2\x9c:\xc3kF\xf5^\xc2\xce\xc3\xd0C\x1c\x99o~\xca\xbe&\xab1q\xf2\xe9\x0f\t\xa3\xc7\xd4\xe8~z\xfd/\xe0\x13\xb0o\xd8\x85\xe0|}!py\x7f\xb7\xba\xbb\x10{\x9b\xad\xbeor\x03v\xfe\xca\xd6\x19\xdc0_\xd8!\x00\x9d=\\\xfc\x06\x00\x00\xff\xff\x03\x00PK\x03\x04\x14\x00\x06\x00\x08\x00\x00\x00!\x00|\x05y+\xbd\x00\x00\x00\x1f\x01\x00\x00\x14\x00\x00\x00xl/sharedStrings.xml\\\x8f\xdb\x8a\xc20\x10\x86\xef\x17|\x870\xf7\x9a\xea\x85\x88$)\x1e\x9f\xc0}\x80\xd0\xce\xda@3\xa9\x99\xa9\xe8\xdb\x1b\x85E\xe8\xe5\xf7\xcd?\'S?b\xaf\xee\x989$\xb2\xb0\\T\xa0\x90\x9a\xd4\x06\xbaZ\xf8\xbd\x9c\xe7\x1bP,\x9eZ\xdf\'B\x0bOd\xa8\xdd\xec\xc70\x8b*\xbd\xc4\x16:\x91a\xab57\x1dF\xcf\x8b4 \x95\xca_\xca\xd1K\xc1|\xd5<d\xf4-w\x88\x12{\xbd\xaa\xaa\xb5\x8e>\x10\xa8&\x8d$\x16\xd6\xa0F\n\xb7\x11\x0f\xff\xec\x0c\x07g\xc4\xed\x8c\x16g\xf4\x1b>\xe2\xbds\xcb\x83o\xca-e(c\xbe#\xb8\xbd\x9a\xc4\xdca*\x8eSq\x9a\x8a\xa3\x17\xfc:]\x1et/\x00\x00\x00\xff\xff\x03\x00PK\x03\x04\x14\x00\x06\x00\x08\x00\x00\x00!\x00\xa6GZ)f\x02\x00\x00K\x05\x00\x00\r\x00\x00\x00xl/styles.xml\x9cT\xdb\x8a\xdb0\x10}/\xf4\x1f\x84\xde\xbd\xb2\xbdq\x9a\x04\xdbK\xb3YCa\xbb\x14\xb2\x85\xbe*\xb6\x9c\x08t1\x92\xbc$-\xfd\xf7\x8el\xc7\xf6\xb2\xd0\xdbK43\x9e9s\xe6\x96\xf4\xee,\x05za\xc6r\xad2\x1c\xdd\x84\x181U\xea\x8a\xabc\x86\xbf>\x17\xc1\n#\xeb\xa8\xaa\xa8\xd0\x8ae\xf8\xc2,\xbe\xcb\xdf\xbfK\xad\xbb\x08\xb6?1\xe6\x10@(\x9b\xe1\x93s\xcd\x86\x10[\x9e\x98\xa4\xf6F7L\xc1\x97Z\x1bI\x1d\xa8\xe6Hlc\x18\xad\xac\x0f\x92\x82\xc4a\xb8$\x92r\x85\xf3\xb4\xd6\xcaYT\xeaV9`1\x18\xf2\xd4~G/T\x80%\xc6$OK-\xb4A\x0e\xe0\x81H\xe4-\x8aJ\xd6{\xdcS\xc1\x0f\x86{cM%\x17\x97\xde\xdc\xc5u\x8c\x06?\xc9\x956\xde\x8b\xf8\x94\xc3c!\x88\x0b1\x12\x88=\x010\xe4iC\x9dcF\x15\xa0\xa0A~\xbe4\x90^A7z\x98\xce\xef\x0f\xdeGC/Q\x9c\xcc\x02H\x970O\x0f\xdaT\xd0\xfdy\xe9\xbd)O\x05\xab\x1d\x105\xfcx\xf2\xaf\xd3\r\xfc\x1e\xb4sZ\x82Pqz\xd4\x8a\n\x10\xc95b\x10\xa0\x9c\x92\t\xb1\xf7\x13\xfaV\xbf\xc2>\xd7H\xb5\xb2\x90\xeeS\x95a\x98\xb5o\xc2U\x84B\x06\xb1\xc7\xeb\x15\x8f?G\xeb\xb1g\xb0\xbeY\xff\x0e\x8b\xce\xf5\x88\xff*:Z\xfc\r\xab1\x1c\xd1\xa6\x11\x97\xa7V\x1e\x98)\xbaU\x1bV\xa3#\r4g\xbdx\xd5\x89\xb1&\xe4\x97(\xc3O>X\xe0\t\xf8\xd0r\xe1\xb8\x1aYN]\x00\xcc\xea<\xf55\xf4cu\xf4\x00\xe7\xe0;>f\x81\xf6V\xac\xa6\xadp\xcf\xe3\xc7\x0cO\xf2gV\xf1V\xc6\xa3\xd7\x17\xfe\xa2]\x07\x91\xe1I~\xf4\xe3\x8f\x96>\x07;\xbbG\x0b;\x0b/j\r\xcf\xf0\x8f\x87\xed\x87\xf5\xee\xa1\x88\x83U\xb8]\x05\x8b[\x96\x04\xebd\xbb\x0b\x92\xc5\xfdv\xb7+\xd6a\x1c\xde\xff\x84\x9a\xfc\x81n\xce\xd1\xe2\xcd\x91J^\x1amu\xednJ\xd8*]\xd7\xbcdo\xcftM\xd6\xd7C\x05\x90\x8d\x15\xe0e\x86b\x87\x12\xf7\x93-\xc33\xa5\xa7\xdf->\xd0\x9es_\xc7\xcb\xf0c\x12\x85Aq\x1bF\xc1bIW\xc1jy\x9b\x04E\x12\xc5\xbb\xe5b\xfb\x90\x14\xc9\x8c{\xf2\x7f\xdc\xa3\x90D\xd1D>\xd98.\x99\xe0\xea:\xab\xeb\x84\xe6V\x18\x12\xa8\xbf)\x82\\\'A\xec\xf8/\x98\xff\x02\x00\x00\xff\xff\x03\x00PK\x03\x04\x14\x00\x06\x00\x08\x00\x00\x00!\x00\xdb\xccpho\x07\x00\x00\x93 \x00\x00\x13\x00\x00\x00xl/theme/theme1.xml\xecYKo\x1b7\x10\xbe\x17\xe8\x7fX\xec]\xd1kW\x0f#J\xa0g\xdc\xc4N\x82HI\x91#-QZ\xc6\xdc\xa5@Rv\x84 @\x91\x9cz)P -z)\xd0[\x0fE\xd1\x02-\xd0\xa2\x97\xfe\x98\x00\t\xfa\xf8\x11\x1drW+R\xa2\x12\xdb\xf0\xa1-l_\xb4\xdco\x86\xc3\x99\xe17\xb3\xe4\xf5\x9bOc\xea\x9d`.\x08KZ~\xf9Z\xc9\xf7p2f\x13\x92\xccZ\xfe\xc3\xd1\xa0\xd0\xf0=!Q2A\x94%\xb8\xe5/\xb1\xf0o\xde\xf8\xf0\x83\xebhOF8\xc6\x1e\xc8\'b\x0f\xb5\xfcH\xca\xf9^\xb1(\xc60\x8c\xc456\xc7\t\xbc\x9b2\x1e#\t\x8f|V\x9cpt\nzcZ\xac\x94J\xb5b\x8cH\xe2{\t\x8aA\xed\xbd\xe9\x94\x8c\xb17R*\xfd\x1b+\xe5}\n\x8f\x89\x14j`L\xf9P\xa9\xc6\x96\x84\xc6N\x8e\xcb\n!\x96\xa2K\xb9w\x82h\xcb\x87y&\xect\x84\x9fJ\xdf\xa3HHx\xd1\xf2K\xfa\xcf/\xde\xb8^D{\x99\x10\x95;d\r\xb9\x81\xfe\xcb\xe42\x81\xc9qE\xcf\xc9gG\xf9\xa4A\x10\x06\xb5v\xae_\x03\xa8\xdc\xc6\xf5\xeb\xfdZ\xbf\x96\xeb\xd3\x004\x1e\xc3JS[l\x9d\xf5J7\xc8\xb0\x06(\xfd\xe9\xd0\xdd\xab\xf7\xaae\x0bo\xe8\xafn\xd9\xdc\x0e\xd5\xbf\x85\xd7\xa0T\x7f\xb0\x85\x1f\x0c\xba\xe0E\x0b\xafA)>\xdc\xc2\x87\x9df\xa7g\xeb\xd7\xa0\x14_\xdb\xc2\xd7K\xed^P\xb7\xf4kPDIr\xbc\x85.\x85\xb5jw\xb5\xda\x1c2et\xdf\to\x86\xc1\xa0^\xc9\x94\xafQ\x90\ryv\xa9)\xa6,\x91\xbbr-FO\x18\x1f\x00@\x01)\x92$\xf1\xe4r\x8e\xa7h\x0cY\xdcE\x94\x1cq\xe2\x1d\x90Y$\xd54h\x0f#\xe3}:4\x16[CjFO\x8c9\x99\xcb\x96\x7f{\x8e`_\xac\xb5\xbe\xf9\xf5\xd7\xd7/~~\xfd\xe2\x97\xd7/_\xbe~\xf1\x83\xa9\xdd\x92\xdbG\xc9\xcc\x94\xfb\xeb\xdb\xcf\xff\xfe\xfa\x13\xef\xcf\x9f\xbe\xf9\xeb\xd5\x17\xe9\xd4\x9bxa\xe2\xdf~\xff\xe9\xdb\xdf~\x7f\x97z\xd8L\x86Y_\xfe\xf8\xf6\xe7\x1f\xdf|\xf5\xd9\x1f\xdf\xbdrhostd\xc2G$\xc6\xc2\xbb\x8bO\xbd\x07,\x86\x05j\xef\xd8\xf6\xe0#~>\x89Q\x84\x88%\x81"\xd0\xedP\xdd\x97\x91\x05\xbc\xbbD\xd4\x85\xeb`\xdb\x85\x8f8\xf0\x88\x0bxk\xf1\xc4\xb2u\x18\xf1\x85$\x8e\x99\xefD\xb1\x05<d\x8cv\x18w:\xe0\x8e\x9a\xcb\xf0\xf0h\x91\xcc\xdc\x93\xf3\x85\x89{\x80\xd0\x89k\xee.J\xac\x00\xf7\x17s P\xe2R\xd9\x8d\xb0e\xe6}\x8a\x12\x89f8\xc1\xd2S\xef\xd81\xc6\x8e\xd5=&\xc4\xf2\xeb!\x19s&\xd8Tz\x8f\x89\xd7A\xc4\xe9\x92\x119\xb2\x12i-\xb4Ob\x88\xcb\xd2e \x84\xda\xf2\xcd\xe1#\xaf\xc3\xa8k\xd5=|b#a[ \xea0~\x84\xa9\xe5\xc6[h!Q\xecR9B15\x1d~\x80d\xe42r\xb8\xe4c\x13\xd7\x17\x12"=\xc3\x94y\xfd\t\x16\xc2%s\x8f\xc3z\x8d\xa0\xdf\x01\x0eq\x87\xfd\x90.c\x1b\xc9%9v\xe9<@\x8c\x99\xc8\x1e;\xeeF(\x9e\xbb\xb0C\x92D&\xf6#q\x0c)\x8a\xbc\xfbL\xba\xe0\x87\xcc\xde!\xea\x19\xe2\x80\x92\x9d\xe1~D\xb0\x15\xee\xf7\x13\xc1C\xa0O\xd3\xa4u\x82\xa87\x0b\xee\x88\xe5-\xcc\xac\xfc\x1d.\xe9\x14a\x17\xcb\xb4yl\xb1k\x9b\x13gvt\x163+\xb5\x0f0\xa6\xe8\x14M0\xf6\x1e~\xe4\xb0\xa0\xc3\xe6\x96\xcf\xd7F\xdf\x8e\x80U\xf6\xb1+\xb1n#;W\xd5s\x82\x054B\xaas\xd9\xa6\xc8\x03"\xac\x94\x1d\xe2\x19\xdba\xcf\xe1r\x83x\x96(\x89\x11\xdf\xa5\xf9.D\xdd\xf4y\x1f\xea\x98\x93J\xef\xd1\xf1\xb1\t\xbcK\xa0\xc1\x83|q:\xe5\x9e\x00\x1dFr\xef\xd4z?BV\xedR\xcf\xc2\x9d\xafKn\xc5\xef,{\x0c\xf6\xe5\x13\xcb\x8c3\xecK\x90\xc1\xe7\x96\x01b7e\xde\xe9\x9b\x11\xa2\xd6\x04\xeb\x84\x19!h!\\t\x0b"V\xf8\xd7"\xaa\xaej\xb1\x85Snjo\xdau\x18\xa0\xf5\xb1:\x9a\x98$\xefmo\xd2\xbc\xbc\xfc\xc6\xc6\x91\xef\x97\xd3\xd2\xb8\x15[\xa4\xf4\xe6|\xcd\xcc.\xd2\xd8\xdfhav\xe1\xfe\x83\x8dK\x0f-\x92\xfb\x18j\xc56+]\xf5-W}\x8b\xff\xbf\xef[v\xed\xe5\xabneWOq\xd5\xad\xf8\xd0E\\u+\xd9\xe9\xc8\xe5t+\xeb\x06\x05z\x17u~\x90\x9e\xd4\xe8s\x9bx\xe7\xb1\xcd\x94P:\x94K\x8a\x0f\x84>\xb9\x11\xf0\xcd2\x19\xc0\xa0\x92\xd3G\x968?\xc6\x9bG\xf0S\x959\x98\xc0\xc2\xcd8\xd22\x1eg\xf2c"\xa3a\x84\xe6p\xeaS\xf6\x95\x92\x99\xc8T\xcf\x847g\x02N\x1b\xf5\xb0S\xb7\xc2\xd3E|\xc8&\xe9ie\xb9\xacN&\xd3\xca*\x90\\\x8f\x97\xc2|\x1cN\x9ad\x8a\xae\xd5\xd7\'p\xb9zm\xedL\x9f\x94\xae\x0cP\xb2\xe71\xc2\x98\xcc6\xa2\xea0\xa2\xbe\x1aTN\xd2\xe7\xb2\xe04\x87\x11ze\x97bE\xd3aEC\xa9_\x85j\xcb\n0-\x8f\n|T{\xf0)\xde\xf2\xc3\x00D@\x08\x8e\xdb\xa0\x01\x9f\xa88\xa5\xa1^EW\x07\xf32#\xbd\xcb\x99V\x06\x94\xe0H<\xcb\x80u\xa4\x9b\xca\xd6\x9d\xcbS\xabKS\xed\x0c\x91\xb6\x8c0\xd2\xcd6B{F7x"\x82O\xdd,;\xd5\xe8Y\xcc8o\xac\x9b\xeb\x90Z\xe6)Wd\xbe0\xcc\xa87\xdee\xc5Ec\rr\x9b\xdc@\x13\x93)h\xe2\x9d\xb6\xfcZ5\x84\x94\x19\xa3y\xcb\x9f\xc2\xa9/\xfc\x8c\xe7\x90;B}W!:\x83\xab\x93\xb1\xe4\xe9\x86\xbf\x08\xb3\xcc\xb9\x90=$\xa2\xd4\xe1\x9atR6\x88\x89\xc4\xdc\xa3$n\xf9j\xf9y\x18h\xa29D\xdbV\xae\x00!\xfck\x8dk\x02\xad\xfc\xdb\x8c\x83\xa0\xdbA\xc6\xd3)\x1eK3\xec\xc6\x88\xf2t\xfa\x08\x0c\x9fr\x85\xf3\xad\x16\xbf8XI\xb2\x05\x84{\x18MN\xbd#\xba\xe0\x0f\x10\xa4XX/+\x07N\x88\x80\xab\x81r\xea\xcd\t\x81\xdb\xac\x9c\xc8\xd6\xf9\xb7Q\x982\xda5\xaf\x93t\x0e\xa5\xe3\x88\xce#\x94U\x14\x93\xccS\xb8\xa6\xf2\xdc\x1c\xfd\x94\xfb\xc0x\xca\xd6\x0c\x0e5\\\x92\x15\xc2\xa3\x99*\xb0\xa6S\xadj\x9aW\x8d\xd4\x86\x9dU\xf7\xfdB\xcas\x06i\xaek\xa6\xc5*\xaaj\xbaY\xcc\x9aaU\x066|y\xb1"oX\xb5r1\x94K\xb3\xc2\xa7\xd4\xbdI\xb9\xcd\x15\xd7m\xf4\ty\x95\x00\x87\xe7\xfesT\xdd3\x14\x04\xc3\xb4\xf5d\x96i\xca\xe2m\x1aV\x9c\x9d\x8d\xda\xb5c\xb5\xc0\xf7\x98v\x96"a\xb0~m\xa5v\xc3oy\x8dpN\x07\x83\x17\xaa\xfc \xb7\x99\xb504]\xf5\x95\xda\xd3\xfa\xda\xdb\xbc\x99fGO\x80<z\xd0\xe5.\xa8\x14:\x94pz\xcb\x114DC\xdd\x93\xa4\xb4\x01[\xe4\xa9\xcc\xb6\x06\xfc\xf2\x16\x9c\xb4\xfcg\xa5\xb0\x1dt+a\xb7Pj\x84\xfdBP\rJ\x85F\xd8\xae\x16\xdaaX-\xf7\xc3r\xa9\xd7\xa9<\x87\xc2"\xa3\xb8\x1c\xa6W\xee\x03\xb8\xa4\xa0\xcb\xf4\xe2\xbd\xe5\xfb\xd9\r\xbc\x06l\xdd\xc2\xc7\xab\x0b\x99kc\x16\x17\x99\xbee/\xea\x15\xe8[\xf8re\xf7-\xbcG\x80}\x9e\xd5*\x83f\xb5\xd9\xa9\x15\x9a\xd5\xf6\xa0\x10\xf4:\x8dB\xb3[\xeb\x14z\xb5n\xbd7\xe8u\xc3Fs\xf0\xdc\xf7N48hW\xbbA\xad\xdf(\xd4\xca\xddn!\xa8\x95\xd4:\x1a\xcdB=\xa8T\xdaA\xbd\xdd\xe8\x07\xed\xe7Y?\x03.Hy$s\n\xf8Y\xdbu\xe3\x1f\x00\x00\x00\xff\xff\x03\x00PK\x03\x04\x14\x00\x06\x00\x08\x00\x00\x00!\x00\xf9\x1a\xbdyf\x02\x00\x00`\x06\x00\x00\x18\x00\x00\x00xl/worksheets/sheet1.xml\x8cU\xcb\x92\x9b0\x10\xbc\xa7*\xff@\xe9\x1e\xf30\xe0Ga\xb6\xd6\xd8T\xf6\x90\xaa\xad<\xcf2\x08C- \x82\xb4v\xf2\xf7\x191\xe6%\xfb\x90\x9b\xd4-zz\x1a1\x04O\x7f\xaa\xd2\xb8\xb0V\x14\xbc\xde\x11{a\x11\x83\xd5\tO\x8b\xfa\xbc#?\xbe\xc7\x9f\xd6\xc4\x10\x92\xd6)-y\xcdv\xe4/\x13\xe4)\xfc\xf8!\xb8\xf2\xf6M\xe4\x8cI\x03\x14j\xb1#\xb9\x94\xcd\xd64E\x92\xb3\x8a\x8a\x05oX\rL\xc6\xdb\x8aJ\xd8\xb6gS4-\xa3i\xf7PU\x9a\x8ee\xf9fE\x8b\x9a\xa0\xc2\xb6\xfd\x1f\r\x9eeE\xc2\x0e<y\xafX-Q\xa4e%\x95\xe0_\xe4E#H\x18\xa4\x05p\xaa!\xa3e\xd9\x8e<\xdb\xdb\xd8\'f\x18t\x95\x7f\x16\xec*&kC\xd2\xd37V\xb2D\xb2\x14\x02 \x86j\xec\xc4\xf9\x9b:\xf8\x02\x90\x05\x8a\xa2;\xa0\x14i"\x8b\x0b\x8bXY\xee\xc8\x8b\x0f\xd9\xfc\xeej\xc0\x12\n\x98C\x85\xe9\xba\xaf\x16wQ\xbc\xb6F\xca2\xfa^\xca\x88\x97\xbf\x8aT\xe6P\x15\xca\xde\xc0\xaf\xfc\xfa\x99\x15\xe7\\\x02\xea-V\xde\xe0\xfb@%\r\x83\x96_\r\xc8\t\xce\x8b\x86\xaa\xd4\xed\xad\x0f\xfe\x12\x05>\x03\n\x8f\xa9\x04.\xa1\x17\x98\x170\x91\xdc\xb8\xfd\x94\xb3\xe6\\4\xe5\xec9w\x98r\xce\x9c;N\xb9\xe5\x9c\x8b\xa7\x9c;p&\xf8\x1f\x9ap\x1e6\xa1P\xd5\xa0j\xc2u\xbd\xb5fh\xeft\xccf3hv\xbdG\x08;Zk\x07\x84]-\x8d#\xc2\x9e?\x17\x89{\x11k\x94\x999^>t\xac\xd0\xa9c-\xa6\xfd\x12\x1d\xaf\xe7\xc5"\x84m\xad\x91\x03\xc2\xeej~\xfa\x88\xb0\xa75\x12\xf7"\x9b1\xff\x99c\xf7\xa1c\x85N\x1d\x8f\x0fwa\xee]t\xac\x15\x8b\x10\xbes\x8c\xb07f\xd6\x89\x1c\x11\xf658\xeeE\x9c\xf1\xc5\xce\x1c{\x0f\x1d+t\xeax\xbcR\xe8\xd8\xeb\x1c\xdb\xd6(\x8a\xd7\x02qG{%\x07\x84\xf5\xf7\x7fD\xd8\xd7D\xe2\x9b\xf8f5\xde\x97\x99e5\x06\xee\xbfF\x85N-ki\xee\xd5w{\tmK\x0b?B\xfc\xce2\xc2\xfa\x058"\xeck\xe20\xef\x94\xb8c\xd9c\xfch\x19G\x14\x0e\x93\x86\x9e\xd9\x17\xda\x9e\x8bZ\x18%\xcb`vX\x8b\x151Z\x1c?\xddZ\xf2\xa6C!\xff\x13\x97\x92W\xfd.\x87I\xce`\xe8X\x0b\xb8\xfe\x19\xe7\xb2\xdf\xa818\xfc\x1b\xc2\x7f\x00\x00\x00\xff\xff\x03\x00PK\x03\x04\x14\x00\x06\x00\x08\x00\x00\x00!\x00_\xbd\r\x7fT\x01\x00\x00h\x02\x00\x00\x11\x00\x08\x01docProps/core.xml \xa2\x04\x01(\xa0\x00\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x0

In [ ]:
shares_df1 = open('shares_df', 'br')

FileNotFoundError: ignored

In [ ]:
shares_df.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
shares_df.columns

Index(['Date', 'A', 'B ', 'C', 'D', 'E'], dtype='object')

In [ ]:
shares_df.values

array([[Timestamp('2022-01-20 00:00:00'), 99, 20, 45, 56, 2000],
       [Timestamp('2022-01-21 00:00:00'), 98, 19, 47, 55, 1993],
       [Timestamp('2022-01-22 00:00:00'), 95, 19, 50, 60, 1921],
       [Timestamp('2022-01-23 00:00:00'), 101, 22, 56, 61, 1976],
       [Timestamp('2022-01-24 00:00:00'), 103, 22, 55, 65, 2010]],
      dtype=object)

In [ ]:
shares_df['Date'].loc[0]

Timestamp('2022-01-20 00:00:00')

In [ ]:
type(shares_df['Date'].loc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
# stack

In [ ]:
shares_df

        Date    A  B    C   D     E
0 2022-01-20   99  20  45  56  2000
1 2022-01-21   98  19  47  55  1993
2 2022-01-22   95  19  50  60  1921
3 2022-01-23  101  22  56  61  1976
4 2022-01-24  103  22  55  65  2010

In [ ]:
shares_stacked = shares_df.stack()

In [ ]:
shares_stacked

0  Date    2022-01-20 00:00:00
   A                        99
   B                        20
   C                        45
   D                        56
   E                      2000
1  Date    2022-01-21 00:00:00
   A                        98
   B                        19
   C                        47
   D                        55
   E                      1993
2  Date    2022-01-22 00:00:00
   A                        95
   B                        19
   C                        50
   D                        60
   E                      1921
3  Date    2022-01-23 00:00:00
   A                       101
   B                        22
   C                        56
   D                        61
   E                      1976
4  Date    2022-01-24 00:00:00
   A                       103
   B                        22
   C                        55
   D                        65
   E                      2010
dtype: object

In [ ]:
type(shares_stacked)

pandas.core.series.Series

In [ ]:
shares_stacked.index

MultiIndex([(0, 'Date'),
            (0,    'A'),
            (0,   'B '),
            (0,    'C'),
            (0,    'D'),
            (0,    'E'),
            (1, 'Date'),
            (1,    'A'),
            (1,   'B '),
            (1,    'C'),
            (1,    'D'),
            (1,    'E'),
            (2, 'Date'),
            (2,    'A'),
            (2,   'B '),
            (2,    'C'),
            (2,    'D'),
            (2,    'E'),
            (3, 'Date'),
            (3,    'A'),
            (3,   'B '),
            (3,    'C'),
            (3,    'D'),
            (3,    'E'),
            (4, 'Date'),
            (4,    'A'),
            (4,   'B '),
            (4,    'C'),
            (4,    'D'),
            (4,    'E')],
           )

In [ ]:
shares_stacked.values

array([Timestamp('2022-01-20 00:00:00'), 99, 20, 45, 56, 2000,
       Timestamp('2022-01-21 00:00:00'), 98, 19, 47, 55, 1993,
       Timestamp('2022-01-22 00:00:00'), 95, 19, 50, 60, 1921,
       Timestamp('2022-01-23 00:00:00'), 101, 22, 56, 61, 1976,
       Timestamp('2022-01-24 00:00:00'), 103, 22, 55, 65, 2010],
      dtype=object)

In [ ]:
shares_stacked[(1, 'D')]

55

In [ ]:
shares_df

        Date    A  B    C   D     E
0 2022-01-20   99  20  45  56  2000
1 2022-01-21   98  19  47  55  1993
2 2022-01-22   95  19  50  60  1921
3 2022-01-23  101  22  56  61  1976
4 2022-01-24  103  22  55  65  2010

In [ ]:
shares_df['D'].loc[1]

55

In [ ]:
shares_df[1, 'D']

KeyError: (1, 'D')

In [ ]:
shares_df['D', 1]

KeyError: ('D', 1)

In [ ]:
data = {'company': ['A', 'B', 'C', 'C', 'B', 'B', 'A', 'D', 'D'],
       'year': [2019, 2018, 2018, 2019, 2019, 2020, 2018, 2018, 2019],
       'sales': [100, 89, 70, 85, 67, 110, 76, 56, 71],
       'profits': [11, 9, 4, 17, 20, -10, 7, 7, 18]}

In [ ]:
data

{'company': ['A', 'B', 'C', 'C', 'B', 'B', 'A', 'D', 'D'],
 'year': [2019, 2018, 2018, 2019, 2019, 2020, 2018, 2018, 2019],
 'sales': [100, 89, 70, 85, 67, 110, 76, 56, 71],
 'profits': [11, 9, 4, 17, 20, -10, 7, 7, 18]}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

  company  year  sales  profits
0       A  2019    100       11
1       B  2018     89        9
2       C  2018     70        4
3       C  2019     85       17
4       B  2019     67       20
5       B  2020    110      -10
6       A  2018     76        7
7       D  2018     56        7
8       D  2019     71       18

In [ ]:
df.columns

Index(['company', 'year', 'sales', 'profits'], dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=9, step=1)

In [ ]:
df.values

array([['A', 2019, 100, 11],
       ['B', 2018, 89, 9],
       ['C', 2018, 70, 4],
       ['C', 2019, 85, 17],
       ['B', 2019, 67, 20],
       ['B', 2020, 110, -10],
       ['A', 2018, 76, 7],
       ['D', 2018, 56, 7],
       ['D', 2019, 71, 18]], dtype=object)

In [ ]:
df

  company  year  sales  profits
0       A  2019    100       11
1       B  2018     89        9
2       C  2018     70        4
3       C  2019     85       17
4       B  2019     67       20
5       B  2020    110      -10
6       A  2018     76        7
7       D  2018     56        7
8       D  2019     71       18

In [ ]:
df['company'].unique()

array(['A', 'B', 'C', 'D'], dtype=object)

In [ ]:
df['year'].unique()

array([2019, 2018, 2020], dtype=int64)

In [ ]:
df

  company  year  sales  profits
0       A  2019    100       11
1       B  2018     89        9
2       C  2018     70        4
3       C  2019     85       17
4       B  2019     67       20
5       B  2020    110      -10
6       A  2018     76        7
7       D  2018     56        7
8       D  2019     71       18

In [ ]:
# fetch all the rows/data for company 'B'

df[df['company'] == 'B']

  company  year  sales  profits
1       B  2018     89        9
4       B  2019     67       20
5       B  2020    110      -10

In [ ]:
df['company']

0    A
1    B
2    C
3    C
4    B
5    B
6    A
7    D
8    D
Name: company, dtype: object

In [ ]:
df['company'] == 'B'

0    False
1     True
2    False
3    False
4     True
5     True
6    False
7    False
8    False
Name: company, dtype: bool

In [ ]:
df

  company  year  sales  profits
0       A  2019    100       11
1       B  2018     89        9
2       C  2018     70        4
3       C  2019     85       17
4       B  2019     67       20
5       B  2020    110      -10
6       A  2018     76        7
7       D  2018     56        7
8       D  2019     71       18

In [ ]:
# fetch the rows/data for the company 'A' for the year 2018

df[(df['company'] == 'A') & (df['year'] == 2018)]

  company  year  sales  profits
6       A  2018     76        7

In [ ]:
# fetch all the profits for company 'B'

In [ ]:
df

  company  year  sales  profits
0       A  2019    100       11
1       B  2018     89        9
2       C  2018     70        4
3       C  2019     85       17
4       B  2019     67       20
5       B  2020    110      -10
6       A  2018     76        7
7       D  2018     56        7
8       D  2019     71       18

In [ ]:
df[df['company'] == 'B']

  company  year  sales  profits
1       B  2018     89        9
4       B  2019     67       20
5       B  2020    110      -10

In [ ]:
df[df['company'] == 'B']['profits']

1     9
4    20
5   -10
Name: profits, dtype: int64

In [ ]:
# sum of the profits of company 'B'

In [ ]:
df[df['company'] == 'B']['profits'].sum()

19

In [ ]:
df[df['company'] == 'B']['profits'].mean()

6.333333333333333

In [ ]:
df[df['company'] == 'B']['profits'].median()

9.0

In [ ]:
df[df['company'] == 'B']['profits'].std()

15.17673658377628

In [ ]:
df[df['company'] == 'B']['profits'].var()

230.33333333333331

In [ ]:
df

  company  year  sales  profits
0       A  2019    100       11
1       B  2018     89        9
2       C  2018     70        4
3       C  2019     85       17
4       B  2019     67       20
5       B  2020    110      -10
6       A  2018     76        7
7       D  2018     56        7
8       D  2019     71       18

In [ ]:
df['company']

0    A
1    B
2    C
3    C
4    B
5    B
6    A
7    D
8    D
Name: company, dtype: object

In [ ]:
df['company'].mode()

0    B
dtype: object

In [ ]:
df['company'].mode().loc[0]

'B'