<a href="https://colab.research.google.com/github/GIT-REPO-JAGAN/PYTHON-GOOGLE-COLOB/blob/main/C_5Python_Conditional_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### String

In [ ]:
name = "John"
age = 20
print(name, "is", age, "years old")

John is 20 years old

In [ ]:
print(name)

John

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print(10, 20, 30)
print("hi", "Hello")

10 20 30
hi Hello

In [ ]:
print(10, 20, 30, sep='&')
print("hi", "hello")

10&20&30
hi hello

In [ ]:
print(10, 20, 30, sep='&', end="$")
print("hi", "hello", sep="#")

10&20&30$hi#hello

In [ ]:
print(name, "is", age, "years old")

John is 20 years old

In [ ]:
# Take input from the user

In [ ]:
name = input("Enter your name: ")

Enter your name: jj

In [ ]:
age = input("Enter your age: ")

Enter your age: 10

In [ ]:
print(name)
print(age)

jj
10

In [ ]:
print(type(name))
print(type(age))

<class 'str'>
<class 'str'>

In [ ]:
age = int(age)
type(age)

int

In [ ]:
age = int(input("Enter your age: "))
print(type(age))
print(age)

Enter your age: 10
<class 'int'>
10

#### F-String

In [ ]:
print(f"{name} is {age} years old")

John is 20 years old

In [ ]:
name = "Jill"
age = 25
company = "XYZ"

print(f"{name} is {age} years old. {name} works for {company}.")

Jill is 25 years old. Jill works for XYZ.

In [ ]:
name = "Jill"
age = 25
company = "XYZ"

print(f"{name} is {age} years old.\n{name} works for {company}.")

Jill is 25 years old.
Jill works for XYZ.

In [ ]:
name=['a','b','c','d','e']
age=[10,20,30,40,50]

print(f"{name} is {age} years old")

['a', 'b', 'c', 'd', 'e'] is [10, 20, 30, 40, 50] years old

In [ ]:
name=['a','b','c','d','e']
age=[10,20,30,40,50]

print(f"{name[0]} is {age[0]} years old")

a is 10 years old

#### IF Statement
"""if condition:
*  statement1
*  statement2
*  ....
*  statementN """

In [ ]:
num = -20

if num < 0:
    print("Number is negative")
    print("Bye")
print("Outside if block")

In [ ]:
num = 20

if num < 0:
    print("Number is negative")
    print("Bye")
print("Outside if block")

In [ ]:
num = 20

if num < 0:
    print("Number is negative")
    print("Bye")
    print("Outside if block")

In [ ]:
num = 20

if num < 0:
    print("Negative")
else:
    print("Positive")

In [ ]:
num = 20

if num < 0:
    print(f"{num} is negative")
else:
    print(f"{num} is positive")

20 is positive

#### ELIF 
* marks is greater or equal to 90, grade is 'A'
* marks is greater or equal to 80 but less than 90, grade is 'B'
* marks is greater or equal to 70 but less than 80, grade is 'C'
* marks is greater or equal to 60 but less than 70, grade is 'D'
* marks is less than 60, grade is 'F'

In [ ]:
marks = 75

if marks >= 90:
    grade = 'A'
elif marks >= 80 and marks < 90:
    grade = 'B'
elif marks >= 70 and marks < 80:
    grade = 'C'
elif marks >= 60 and marks < 70:
    grade = 'D'
else:
    grade = 'F'
    
print(grade)

C

In [ ]:
marks = 75

if marks >= 90:
    grade = 'A'
elif marks >= 80:
    grade = 'B'
elif marks >= 70:
    grade = 'C'
elif marks >= 60:
    grade = 'D'
else:
    grade = 'F'
    
print(grade)

C

In [ ]:
marks = 75

if marks >= 90:
    grade = 'A'
if marks >= 80:
    grade = 'B'
if marks >= 70:
    grade = 'C'
if marks >= 60:
    grade = 'D'
else:
    grade = 'F'
    
print(grade)

D

In [ ]:
marks = input("Enter your marks: ")

if marks >= 90:
    grade = 'A'
if marks >= 80:
    grade = 'B'
if marks >= 70:
    grade = 'C'
if marks >= 60:
    grade = 'D'
else:
    grade = 'F'
    
print(grade)

Enter your marks: 100

TypeError: ignored

In [ ]:
marks = int(input("Enter your marks: "))

if marks >= 90:
    grade = 'A'
if marks >= 80:
    grade = 'B'
if marks >= 70:
    grade = 'C'
if marks >= 60:
    grade = 'D'
else:
    grade = 'F'
    
print(grade)

Enter your marks: 81
D

In [ ]:
marks = int(input("Enter your marks: "))

if marks >= 90:
    grade = 'A'
elif marks >= 80:
    grade = 'B'
elif marks >= 70:
    grade = 'C'
elif marks >= 60:
    grade = 'D'
else:
    grade = 'F'
    
print(grade)

Enter your marks: 81
B

In [ ]:
marks = int(input("Enter your marks: "))

if marks >= 90:
    grade = 'A'
elif marks >= 80:
    grade = 'B'
elif marks >= 70:
    grade = 'C'
elif marks >= 60:
    grade = 'D'
else:
    grade = 'F'
    
print(grade)

Enter your marks: 81.5

ValueError: invalid literal for int() with base 10: '81.5'

In [ ]:
marks = float(input("Enter your marks: "))

if marks >= 90:
    grade = 'A'
elif marks >= 80:
    grade = 'B'
elif marks >= 70:
    grade = 'C'
elif marks >= 60:
    grade = 'D'
else:
    grade = 'F'
    
print(grade)

Enter your marks: 81.5
B

In [ ]:
marks = float(input("Enter your marks: "))

if marks >= 90:
    print('A')
elif marks >= 80:
    print('B')
elif marks >= 70:
    print('C')
elif marks >= 60:
    print('D')
else:
    print('F')

Enter your marks: 91.5
A

In [ ]:
marks = float(input("Enter your marks: "))

if marks >= 90:
    grade = 'A'
elif marks >= 80:
    grade = 'B'
elif marks >= 70:
    grade = 'C'
elif marks >= 60:
    grade = 'D'
else:
    grade = 'F'
    
print(f"Your grade is : {grade}")

Enter your marks: 61.5
Your grade is : D

In [ ]:
if (9 < 0) and (0 < -9): # False
    print("hello")
elif (9 > 0) or False: # True
    print("good")
else:
    print("bad")

good

#### Nested if

In [ ]:
marks = int(input("Enter your marks: "))

if marks <= 100: # False
    if marks >= 90:
        grade = 'A'
    elif marks >= 80:
        grade = 'B'
    elif marks >= 70:
        grade = 'C'
    elif marks >= 60:
        grade = 'D'
    else:
        grade = 'F'
        
    print(grade)
else:
    print("Marks should be less than or equal to 100")

Enter your marks: 110
Marks should be less than or equal to 100

In [ ]:
marks = int(input("Enter your marks: "))

if marks <= 100: # True
    if marks >= 90:
        grade = 'A'
    elif marks >= 80:
        grade = 'B'
    elif marks >= 70:
        grade = 'C'
    elif marks >= 60:
        grade = 'D'
    else:
        grade = 'F'
        
    print(grade)
else:
    print("Marks should be less than or equal to 100")

Enter your marks: 73
C